In [5]:
from bs4 import BeautifulSoup
import urllib
import pandas as pd
import numpy as np

In [65]:
def make_list(rows):
    list_data = []
    head =[row.find_all('th') for row in rows]
    list_data.append([ele.text.strip() for ele in head[0]])
    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        list_data.append([ele for ele in cols if ele !=[]])
    return list_data

In [66]:
m_url = r'http://www.iplt20.com/stats/2017'
m_2017 = urllib.request.urlopen(m_url)
m_html_2017 = BeautifulSoup(m_2017)
m_rows = m_html_2017.find_all('tr')

C:\Continuum\Anaconda2\envs\TFENV\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file C:\Continuum\Anaconda2\envs\TFENV\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [67]:
list_m_2017 = make_list(m_rows)

In [68]:
df_m_2017 = pd.DataFrame(list_m_2017[2:], columns = list_m_2017[0])

In [69]:
df_m_2017

,,Team,Pld,Won,Lost,Tied,N/R,Net RR,For,Against,Pts,Form
0,Q,MI,14,10,4,0,0,+0.784,"2,407/272.1","2,242/278.1",20,W\nW\nL\nL\nW
1,Q,RPS,14,9,5,0,0,+0.176,"2,180/271","2,165/275.1",18,W\nW\nW\nL\nW
2,Q,SRH,14,8,5,0,1,+0.599,"2,221/252","2,118/257.5",17,W\nL\nL\nW\nW
3,Q,KKR,14,8,6,0,0,+0.641,"2,329/260.5","2,300/277.3",16,L\nL\nW\nL\nL
4,5,KXIP,14,7,7,0,0,-0.009,"2,207/261.2","2,229/263.4",14,W\nL\nW\nW\nL
5,6,DD,14,6,8,0,0,-0.512,"2,219/276.2","2,255/264",12,W\nL\nW\nW\nL
6,7,GL,14,4,10,0,0,-0.412,"2,406/269.5","2,472/265",8,L\nL\nW\nL\nL
7,8,RCB,14,3,10,0,1,-1.299,"1,845/260","2,033/242.1",7,L\nL\nL\nL\nW

In [70]:
url_most_runs = r'http://stats.espncricinfo.com/indian-premier-league-2017/engine/records/batting/most_runs_career.html?id=11701;type=tournament'
most_runs_2017 = urllib.request.urlopen(url_most_runs)
mr_html_2017 = BeautifulSoup(most_runs_2017)
mr_rows = mr_html_2017.find_all('tr')

C:\Continuum\Anaconda2\envs\TFENV\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file C:\Continuum\Anaconda2\envs\TFENV\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [71]:
list_mr_2017 = make_list(mr_rows)

In [72]:
df_mr_2017 = pd.DataFrame(list_mr_2017[2:102], columns = list_mr_2017[0])

In [73]:
df_mr_2017

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DA Warner,14,14,3,641,126,58.27,452,141.81,1,4,0,63,26
1,(Sunrisers Hyderabad),None,None,None,None,None,None,None,None,None,None,None,None,None
2,G Gambhir,16,16,4,498,76*,41.50,389,128.02,0,4,0,62,7
3,(Kolkata Knight Riders),None,None,None,None,None,None,None,None,None,None,None,None,None
4,S Dhawan,14,14,1,479,77,36.84,376,127.39,0,3,0,53,9
5,(Sunrisers Hyderabad),None,None,None,None,None,None,None,None,None,None,None,None,None
6,SPD Smith,15,15,3,472,84*,39.33,387,121.96,0,3,0,38,12
7,(Rising Pune Supergiant),None,None,None,None,None,None,None,None,None,None,None,None,None
8,SK Raina,14,14,3,442,84,40.18,307,143.97,0,3,0,42,13
9,(Gujarat Lions),None,None,None,None,None,None,None,None,None,None,None,None,None
10,HM Amla,10,10,3,420,104*,60.00,288,145.83,2,2,1,40,17
11,(Kings XI Punjab),None,None,None,None,None,None,None,None,None,None,None,None,None
12,MK Pandey,14,13,5,396,81*,49.50,308,128.57,0,2,0,28,12
13,(Kolkata Knight Riders),None,None,None,None,None,None,None,None,None,None,None,None,None
14,PA Patel,16,16,0,395,70,24.68,293,134.81,0,2,2,49,8
15,(Mumbai Indians),None,None,None,None,None,None,None,None,None,None,None,None,None
16,RA Tripathi,14,14,0,391,93,27.92,267,146.44,0,2,1,43,17
17,(Rising Pune Supergiant),None,None,None,None,None,None,None,None,None,None,None,None,None
18,RV Uthappa,14,13,0,388,87,29.84,235,165.10,0,5,1,36,21
19,(Kolkata Knight Riders),None,None,None,None,None,None,None,None,None,None,None,None,None
20,SV Samson,14,14,0,386,102,27.57,273,141.39,1,2,2,32,19
21,(Delhi Daredevils),None,None,None,None,None,None,None,None,None,None,None,None,None
22,KA Pollard,17,16,3,385,70,29.61,276,139.49,0,3,0,26,22
23,(Mumbai Indians),None,None,None,None,None,None,None,None,None,None,None,None,None
24,AM Rahane,16,16,1,382,60,25.46,323,118.26,0,2,2,35,9
25,(Rising Pune Supergiant),None,None,None,None,None,None,None,None,None,None,None,None,None
26,RR Pant,14,14,0,366,97,26.14,221,165.61,0,2,3,28,24
27,(Delhi Daredevils),None,None,None,None,None,None,None,None,None,None,None,None,None
28,KD Karthik,14,13,3,361,65,36.10,259,139.38,0,2,1,30,11
29,(Gujarat Lions),None,None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,KH Pandya,13,11,4,243,47,34.71,179,135.75,0,0,0,24,7
71,(Mumbai Indians),None,None,None,None,None,None,None,None,None,None,None,None,None
72,DR Smith,12,12,1,239,74,21.72,156,153.20,0,2,2,32,8
73,(Gujarat Lions),None,None,None,None,None,None,None,None,None,None,None,None,None
74,WP Saha,14,11,1,234,93*,23.40,187,125.13,0,1,1,20,8
75,(Kings XI Punjab),None,None,None,None,None,None,None,None,None,None,None,None,None
76,M Vohra,11,9,0,229,95,25.44,159,144.02,0,1,0,23,9
77,(Kings XI Punjab),None,None,None,None,None,None,None,None,None,None,None,None,None
78,AR Patel,14,13,5,227,44,28.37,162,140.12,0,0,1,11,11
79,(Kings XI Punjab),None,None,None,None,None,None,None,None,None,None,None,None,None
80,SP Narine,16,14,1,224,54,17.23,130,172.30,0,1,2,34,10
81,(Kolkata Knight Riders),None,None,None,None,None,None,None,None,None,None,None,None,None
82,AB de Villiers,9,9,1,216,89*,27.00,163,132.51,0,1,0,12,16
83,(Royal Challengers Bangalore),None,None,None,None,None,None,None,None,None,None,None,None,None
84,CH Gayle,9,9,0,200,77,22.22,163,122.69,0,1,2,15,14
85,(Royal Challengers Bangalore),None,None,None,None,None,None,None,None,None,None,None,None,None
86,Mandeep Singh,11,10,0,188,52,18.80,177,106.21,0,1,2,21,4
87,(Royal Challengers Bangalore),None,None,None,None,None,None,None,None,None,None,None,None,None
88,RA Jadeja,12,10,6,158,28,39.50,113,139.82,0,0,0,13,4
89,(Gujarat Lions),None,None,None,None,None,None,None,None,None,None,None,None,None
90,CH Morris,9,9,4,154,52*,30.80,94,163.82,0,1,0,15,6
91,(Delhi Daredevils),None,None,None,None,None,None,None,None,None,None,None,None,None
92,TM Head,7,7,2,151,75*,30.20,108,139.81,0,1,1,9,6
93,(Royal Challengers Bangalore),None,None,None,None,None,None,None,None,None,None,None,None,None
94,P Negi,12,10,2,144,35,18.00,111,129.72,0,0,0,10,7
95,(Royal Challengers Bangalore),None,None,None,None,None,None,None,None,None,None,None,None,None
96,YK Pathan,15,11,3,143,59,17.87,115,124.34,0,1,1,9,6
97,(Kolkata Knight Riders),None,None,None,None,None,None,None,None,None,None,None,None,None
98,CJ Anderson,11,11,4,142,41*,20.28,123,115.44,0,0,1,8,9
99,(Delhi Daredevils),None,None,None,None,None,None,None,None,None,None,None,None,None

In [74]:
url_most_wickets = r'http://stats.espncricinfo.com/indian-premier-league-2017/engine/records/bowling/most_wickets_career.html?id=11701;type=tournament'
most_wickets_2017 = urllib.request.urlopen(url_most_wickets)
mw_html_2017 = BeautifulSoup(most_wickets_2017)
mw_rows = mw_html_2017.find_all('tr')

C:\Continuum\Anaconda2\envs\TFENV\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file C:\Continuum\Anaconda2\envs\TFENV\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [75]:
list_mw_2017 = make_list(mw_rows)

In [76]:
df_mw_2017 = pd.DataFrame(list_mw_2017[2:90], columns = list_mw_2017[0])

In [77]:
df_mw_2017

,Player,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,4,5
0,B Kumar,14,14,52.2,0,369,26,5/19,14.19,7.05,12.0,0,1
1,(Sunrisers Hyderabad),None,None,None,None,None,None,None,None,None,None,None,None
2,JD Unadkat,12,12,45.5,3,322,24,5/30,13.41,7.02,11.4,0,1
3,(Rising Pune Supergiant),None,None,None,None,None,None,None,None,None,None,None,None
4,JJ Bumrah,16,16,59.2,2,440,20,3/7,22.00,7.41,17.8,0,0
5,(Mumbai Indians),None,None,None,None,None,None,None,None,None,None,None,None
6,MJ McClenaghan,14,14,54.0,0,507,19,3/24,26.68,9.38,17.0,0,0
7,(Mumbai Indians),None,None,None,None,None,None,None,None,None,None,None,None
8,Imran Tahir,12,12,47.0,0,369,18,3/18,20.50,7.85,15.6,0,0
9,(Rising Pune Supergiant),None,None,None,None,None,None,None,None,None,None,None,None
10,Rashid Khan,14,14,54.0,0,358,17,3/19,21.05,6.62,19.0,0,0
11,(Sunrisers Hyderabad),None,None,None,None,None,None,None,None,None,None,None,None
12,CR Woakes,13,13,44.0,0,386,17,3/6,22.70,8.77,15.5,0,0
13,(Kolkata Knight Riders),None,None,None,None,None,None,None,None,None,None,None,None
14,Sandeep Sharma,13,13,48.0,0,398,17,4/20,23.41,8.29,16.9,1,0
15,(Kings XI Punjab),None,None,None,None,None,None,None,None,None,None,None,None
16,UT Yadav,14,14,48.3,0,410,17,4/33,24.11,8.45,17.1,1,0
17,(Kolkata Knight Riders),None,None,None,None,None,None,None,None,None,None,None,None
18,P Negi,12,12,32.1,0,197,16,3/10,12.31,6.12,12.0,0,0
19,(Royal Challengers Bangalore),None,None,None,None,None,None,None,None,None,None,None,None
20,S Kaul,10,10,35.4,0,300,16,4/29,18.75,8.41,13.3,1,0
21,(Sunrisers Hyderabad),None,None,None,None,None,None,None,None,None,None,None,None
22,NM Coulter-Nile,8,8,28.2,0,228,15,3/20,15.20,8.04,11.3,0,0
23,(Kolkata Knight Riders),None,None,None,None,None,None,None,None,None,None,None,None
24,AR Patel,14,14,48.0,0,362,15,3/11,24.13,7.54,19.2,0,0
25,(Kings XI Punjab),None,None,None,None,None,None,None,None,None,None,None,None
26,PJ Cummins,12,12,46.1,0,373,15,2/20,24.86,8.07,18.4,0,0
27,(Delhi Daredevils),None,None,None,None,None,None,None,None,None,None,None,None
28,YS Chahal,13,13,43.3,0,333,14,3/16,23.78,7.65,18.6,0,0
29,(Royal Challengers Bangalore),None,None,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,SP Narine,16,15,59.0,0,412,10,2/29,41.20,6.98,35.4,0,0
59,(Kolkata Knight Riders),None,None,None,None,None,None,None,None,None,None,None,None
60,S Badree,7,7,25.0,1,188,9,4/9,20.88,7.52,16.6,1,0
61,(Royal Challengers Bangalore),None,None,None,None,None,None,None,None,None,None,None,None
62,Washington Sundar,11,10,30.0,0,185,8,3/16,23.12,6.16,22.5,0,0
63,(Rising Pune Supergiant),None,None,None,None,None,None,None,None,None,None,None,None
64,A Nehra,6,6,21.1,0,197,8,3/42,24.62,9.30,15.8,0,0
65,(Sunrisers Hyderabad),None,None,None,None,None,None,None,None,None,None,None,None
66,Harbhajan Singh,11,11,41.0,0,266,8,3/22,33.25,6.48,30.7,0,0
67,(Mumbai Indians),None,None,None,None,None,None,None,None,None,None,None,None
68,GJ Maxwell,14,8,19.0,0,125,7,2/15,17.85,6.57,16.2,0,0
69,(Kings XI Punjab),None,None,None,None,None,None,None,None,None,None,None,None
70,MG Johnson,5,5,20.0,1,141,7,3/26,20.14,7.05,17.1,0,0
71,(Mumbai Indians),None,None,None,None,None,None,None,None,None,None,None,None
72,VR Aaron,6,6,20.0,0,163,7,2/3,23.28,8.15,17.1,0,0
73,(Kings XI Punjab),None,None,None,None,None,None,None,None,None,None,None,None
74,A Zampa,6,6,19.5,0,163,7,2/22,23.28,8.21,17.0,0,0
75,(Rising Pune Supergiant),None,None,None,None,None,None,None,None,None,None,None,None
76,S Nadeem,7,7,17.5,0,119,6,2/13,19.83,6.67,17.8,0,0
77,(Delhi Daredevils),None,None,None,None,None,None,None,None,None,None,None,None
78,P Kumar,6,6,16.3,0,151,6,2/22,25.16,9.15,16.5,0,0
79,(Gujarat Lions),None,None,None,None,None,None,None,None,None,None,None,None
80,PP Chawla,6,6,20.0,0,179,6,2/34,29.83,8.95,20.0,0,0
81,(Kolkata Knight Riders),None,None,None,None,None,None,None,None,None,None,None,None
82,K Rabada,6,6,21.2,0,188,6,2/20,31.33,8.81,21.3,0,0
83,(Delhi Daredevils),None,None,None,None,None,None,None,None,None,None,None,None
84,HH Pandya,17,13,26.0,0,213,6,2/22,35.50,8.19,26.0,0,0
85,(Mumbai Indians),None,None,None,None,None,None,None,None,None,None,None,None
86,JP Faulkner,8,8,26.2,0,258,6,2/34,43.00,9.79,26.3,0,0
87,(Gujarat Lions),None,None,None,None,None,None,None,None,None,None,None,None

In [78]:
url_auction_2008='https://en.wikipedia.org/wiki/2008_Indian_Premier_League'
auction_2008 = urllib.request.urlopen(url_auction_2008)
auc_html_2008 = BeautifulSoup(auction_2008)
auc_rows = auc_html_2008.find('table',attrs={'class':'wikitable sortable'})
auc_rows = auc_rows.find_all('tr')

C:\Continuum\Anaconda2\envs\TFENV\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file C:\Continuum\Anaconda2\envs\TFENV\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [79]:
list_auc_2008 = make_list(auc_rows)

In [80]:
df_auc_2008 = pd.DataFrame(list_auc_2008[2:], columns = list_auc_2008[0])

In [81]:
df_auc_2008

,Nat,Player,Franchise,Price (USD)
0,,"Dhoni, Mahendra SinghMahendra Singh Dhoni",Chennai Super Kings,"1,500,000"
1,,"Gilchrist, AdamAdam Gilchrist",Deccan Chargers,"700,000"
2,,"Muralitharan, MuttiahMuttiah Muralitharan",Chennai Super Kings,"600,000"
3,,"Jayawardene, MahelaMahela Jayawardene",Kings XI Punjab,"475,000"
4,,"Warne, ShaneShane Warne",Rajasthan Royals,"450,000"
5,,"Akhtar, ShoaibShoaib Akhtar",Kolkata Knight Riders in 2008,"425,000"
6,,"Kumble, AnilAnil Kumble",Royal Challengers Bangalore in 2008,"500,000"
7,,"Singh, HarbhajanHarbhajan Singh",Mumbai Indians,"850,000"
8,,"Jayasuriya, SanathSanath Jayasuriya",Mumbai Indians,"975,000"
9,,"Sangakkara, KumarKumar Sangakkara",Kings XI Punjab,"700,000"
10,,"Ponting, RickyRicky Ponting",Kolkata Knight Riders in 2008,"400,000"
11,,"Lee, BrettBrett Lee",Kings XI Punjab,"900,000"
12,,"Symonds, AndrewAndrew Symonds",Deccan Chargers,"1,350,000"
13,,"Vettori, DanielDaniel Vettori",Delhi Daredevils in 2008,"625,000"
14,,"Hayden, MatthewMatthew Hayden",Chennai Super Kings,"375,000"
15,,"McCullum, BrendonBrendon McCullum",Kolkata Knight Riders in 2008,"700,000"
16,,"Oram, JacobJacob Oram",Chennai Super Kings,"675,000"
17,,"Fleming, StephenStephen Fleming",Chennai Super Kings,"350,000"
18,,"Smith, GraemeGraeme Smith",Rajasthan Royals,"250,000"
19,,"Gibbs, HerschelleHerschelle Gibbs",Deccan Chargers,"575,000"
20,,"Gayle, ChrisChris Gayle",Kolkata Knight Riders in 2008,"800,000"
21,,"Malik, ShoaibShoaib Malik",Delhi Daredevils in 2008,"500,000"
22,,"Afridi, ShahidShahid Afridi",Deccan Chargers,"675,000"
23,,"Khan, YounisYounis Khan",Rajasthan Royals,"225,000"
24,,"Asif, MohammadMohammad Asif",Delhi Daredevils in 2008,"650,000"
25,,"Kallis, JacquesJacques Kallis",Royal Challengers Bangalore in 2008,"900,000"
26,,"Khan, ZaheerZaheer Khan",Royal Challengers Bangalore in 2008,"450,000"
27,,Sreesanth,Kings XI Punjab,"625,000"
28,,"Karthik, DineshDinesh Karthik",Delhi Daredevils in 2008,"525,000"
29,,"de Villiers, ABAB de Villiers",Delhi Daredevils in 2008,"300,000"
...,...,...,...,...
45,,"Laxman, V. V. S.V. V. S. Laxman",Deccan Chargers,"375,000"
46,,"Jaffer, WasimWasim Jaffer",Royal Challengers Bangalore in 2008,"150,000"
47,,"Sharma, RohitRohit Sharma",Deccan Chargers,"750,000"
48,,"Kaif, MohammadMohammad Kaif",Rajasthan Royals,"675,000"
49,,"Raina, SureshSuresh Raina",Chennai Super Kings,"650,000"
50,,"Tiwary, ManojManoj Tiwary",Delhi Daredevils in 2008,"675,000"
51,,"Silva, ChamaraChamara Silva",Deccan Chargers,"100,000"
52,,"Hussey, DavidDavid Hussey",Kolkata Knight Riders in 2008,"625,000"
53,,"Bracken, NathanNathan Bracken",Royal Challengers Bangalore in 2008,"325,000"
54,,"Singh, R. P.R. P. Singh",Deccan Chargers,"875,000"
55,,"Kartik, MuraliMurali Kartik",Kolkata Knight Riders in 2008,"425,000"
56,,"Ntini, MakhayaMakhaya Ntini",Chennai Super Kings,"200,000"
57,,"Malinga, LasithLasith Malinga",Mumbai Indians,"350,000"
58,,"Vaas, ChamindaChaminda Vaas",Deccan Chargers,"200,000"
59,,"Powar, RameshRamesh Powar",Kings XI Punjab,"170,000"
60,,"Gul, UmarUmar Gul",Kolkata Knight Riders in 2008,"150,000"
61,,"Steyn, DaleDale Steyn",Royal Challengers Bangalore in 2008,"325,000"
62,,"Fernando, DilharaDilhara Fernando",Mumbai Indians,"150,000"
63,,"Sharma, IshantIshant Sharma",Kolkata Knight Riders in 2008,"950,000"
64,,"Chawla, PiyushPiyush Chawla",Kings XI Punjab,"400,000"
65,,"Patel, MunafMunaf Patel",Rajasthan Royals,"275,000"
66,,"Zoysa, NuwanNuwan Zoysa",Deccan Chargers,"110,000"
67,,"McGrath, GlennGlenn McGrath",Delhi Daredevils in 2008,"350,000"
68,,"Hussey, MichaelMichael Hussey",Chennai Super Kings,"250,000"
69,,"Taibu, TatendaTatenda Taibu",Kolkata Knight Riders in 2008,"125,000"
70,,"Sarwan, RamnareshRamnaresh Sarwan",Kings XI Punjab,"225,000"
71,,"Katich, SimonSimon Katich",Kings XI Punjab,"200,000"
72,,"Langer, JustinJustin Langer",Rajasthan Royals,"200,000"
73,,"Chanderpaul, ShivnarineShivnarine Chanderpaul",Royal Challengers Bangalore in 2008,"200,000"
74,,"Bosman, LootsLoots Bosman",Mumbai Indians,"150,000"

In [82]:
url_auction_2009='https://en.wikipedia.org/wiki/List_of_2009_Indian_Premier_League_personnel_changes#Auction'
auction_2009 = urllib.request.urlopen(url_auction_2009)
auc_html_2009 = BeautifulSoup(auction_2009)
auc_rows = auc_html_2009.find('table',attrs={'class':'wikitable sortable'})
auc_rows = auc_rows.find_all('tr')

C:\Continuum\Anaconda2\envs\TFENV\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file C:\Continuum\Anaconda2\envs\TFENV\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [83]:
list_auc_2009 = make_list(auc_rows)

In [84]:
df_auc_2009 = pd.DataFrame(list_auc_2009[2:], columns = list_auc_2009[0])

In [85]:
df_auc_2009

               Nat             Player Team Winning bid  Base price
0      Australia !         Shaun Tait         $375,000    $250,000
1   South Africa !          JP Duminy         $950,000    $300,000
2        England !    Andrew Flintoff       $1,550,000    $950,000
3        England !    Kevin Pietersen       $1,550,000  $1,350,000
4    West Indies !      Fidel Edwards         $150,000    $150,000
5        England !         Owais Shah         $275,000    $150,000
6        England !   Paul Collingwood         $275,000    $250,000
7   South Africa !    Tyron Henderson         $650,000    $100,000
8        England !        Ravi Bopara         $450,000    $150,000
9      Sri Lanka !    Thilan Thushara         $140,000    $100,000
10   New Zealand !        Jesse Ryder         $160,000    $100,000
11   New Zealand !         Kyle Mills         $150,000    $150,000
12   West Indies !       Dwayne Smith         $100,000    $100,000
13   West Indies !      Jerome Taylor         $150,000    $150,000
14    Bangladesh !  Mohammad Ashraful          $75,000     $75,000
15    Bangladesh !   Mashrafe Mortaza         $600,000     $50,000
16     Australia !      George Bailey          $50,000     $50,000

In [86]:
url_auction_2010='https://en.wikipedia.org/wiki/List_of_2010_Indian_Premier_League_personnel_changes'
auction_2010 = urllib.request.urlopen(url_auction_2010)
auc_html_2010 = BeautifulSoup(auction_2010)
auc_rows = auc_html_2010.find('table',attrs={'class':'wikitable sortable'})
auc_rows = auc_rows.find_all('tr')

C:\Continuum\Anaconda2\envs\TFENV\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file C:\Continuum\Anaconda2\envs\TFENV\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [87]:
list_auc_2010 = make_list(auc_rows)

In [88]:
df_auc_2010 = pd.DataFrame(list_auc_2010[2:], columns = list_auc_2010[0])

In [89]:
df_auc_2010

,Player,Franchise,Sold price (USD),Base price (USD)
0,"Bond, ShaneShane Bondâ€",Kolkata Knight Riders,"750,000",100000
1,"Pollard, KieronKieron Pollardâ€",Mumbai Indians,"750,000","200,000"
2,"Roach, KemarKemar Roach",Deccan Chargers,"720,000","100,000"
3,"Parnell, WayneWayne Parnell",Delhi Daredevils,"610,000","200,000"
4,"Kaif, MohammadMohammad Kaif",Kings XI Punjab,"250,000","100,000"
5,"Morgan, EoinEoin Morgan",Royal Challengers Bangalore,"220,000","200,000"
6,"Martyn, DamienDamien Martyn",Rajasthan Royals,"100,000","100,000"
7,"Kemp, JustinJustin Kemp",Chennai Super Kings,"100,000","100,000"
8,"Perera, ThissaraThissara Perera",Chennai Super Kings,"50,000","50,000"
9,"Voges, AdamAdam Voges",Rajasthan Royals,"50,000","50,000"
10,"Abdulla, YusufYusuf Abdulla",Kings XI Punjab,"50,000","50,000"

In [90]:
url_auction_2011='https://en.wikipedia.org/wiki/List_of_2011_Indian_Premier_League_personnel_changes'
auction_2011 = urllib.request.urlopen(url_auction_2011)
auc_html_2011 = BeautifulSoup(auction_2011)
auc_rows = auc_html_2011.find('table',attrs={'class':'wikitable sortable'})
auc_rows = auc_rows.find_all('tr')

C:\Continuum\Anaconda2\envs\TFENV\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file C:\Continuum\Anaconda2\envs\TFENV\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [91]:
list_auc_2011 = make_list(auc_rows)

In [92]:
df_auc_2011 = pd.DataFrame(list_auc_2011[2:], columns = list_auc_2011[0])

In [93]:
df_auc_2011

,Nat,Player,Team,Winning bid,Base price
0,India !,"Gambhir, GautamGautam Gambhir",Kolkata Knight Riders,"$2,400,000","$200,000"
1,India !,"Pathan, YusufYusuf Pathan",Kolkata Knight Riders,"$2,100,000","$300,000"
2,India !,"Uthappa, RobinRobin Uthappa",Pune Warriors India,"$2,100,000","$200,000"
3,India !,"Sharma, RohitRohit Sharma",Mumbai Indians,"$2,000,000","$200,000"
4,India !,"Pathan, IrfanIrfan Pathan",Delhi Daredevils,"$1,900,000","$200,000"
5,India !,"Singh, YuvrajYuvraj Singh",Pune Warriors India,"$1,800,000","$400,000"
6,India !,"Tiwary, SaurabhSaurabh Tiwary",Royal Challengers Bangalore,"$1,600,000","$100,000"
7,Sri Lanka !,"Jayawardene, MahelaMahela Jayawardene",Kochi Tuskers Kerala,"$1,500,000","$400,000"
8,Australia !,"Hussey, DavidDavid Hussey",Kings XI Punjab,"$1,400,000","$200,000"
9,South Africa !,"Steyn, DaleDale Steyn",Deccan Chargers,"$1,200,000","$200,000"
10,Sri Lanka !,"Muralitharan, MuttiahMuttiah Muralitharan",Kochi Tuskers Kerala,"$1,100,000","$300,000"
11,Australia !,"White, CameronCameron White",Deccan Chargers,"$1,100,000","$300,000"
12,South Africa !,"Kallis, JacquesJacques Kallis",Kolkata Knight Riders,"$1,100,000","$300,000"
13,South Africa !,"de Villiers, ABAB de Villiers",Royal Challengers Bangalore,"$1,100,000","$400,000"
14,New Zealand !,"Taylor, RossRoss Taylor",Rajasthan Royals,"$1,000,000","$400,000"
15,Sri Lanka !,"Mathews, AngeloAngelo Mathews",Pune Warriors India,"$950,000","$200,000"
16,India !,"Jadeja, RavindraRavindra Jadeja",Kochi Tuskers Kerala,"$950,000","$100,000"
17,South Africa !,"Botha, JohanJohan Botha",Rajasthan Royals,"$950,000","$200,000"
18,India !,"Karthik, DineshDinesh Karthik",Kings XI Punjab,"$900,000","$200,000"
19,India !,"Chawla, PiyushPiyush Chawla",Kings XI Punjab,"$900,000","$100,000"
20,India !,Sreesanth,Kochi Tuskers Kerala,"$900,000","$200,000"
21,Australia !,"Gilchrist, AdamAdam Gilchrist",Kings XI Punjab,"$900,000","$400,000"
22,India !,"Khan, ZaheerZaheer Khan",Royal Challengers Bangalore,"$900,000","$300,000"
23,Australia !,"Christian, DanDan Christian",Deccan Chargers,"$900,000","$50,000"
24,India !,"Ashwin, RavichandranRavichandran Ashwin",Chennai Super Kings,"$850,000","$100,000"
25,India !,"Nehra, AshishAshish Nehra",Pune Warriors India,"$850,000","$200,000"
26,Australia !,"Symonds, AndrewAndrew Symonds",Mumbai Indians,"$850,000","$300,000"
27,India !,"Badrinath, SubramaniamSubramaniam Badrinath",Chennai Super Kings,"$800,000","$100,000"
28,India !,"Kumar, PraveenPraveen Kumar",Kings XI Punjab,"$800,000","$200,000"
29,India !,"Nayar, AbhishekAbhishek Nayar",Kings XI Punjab,"$800,000","$50,000"
...,...,...,...,...,...
97,Jamaica !,"Taylor, JeromeJerome Taylor",Pune Warriors India,"$100,000","$100,000"
98,Australia !,"Pattinson, JamesJames Pattinson",Kolkata Knight Riders,"$100,000","$100,000"
99,South Africa !,"Thomas, AlfonsoAlfonso Thomas",Pune Warriors India,"$100,000","$50,000"
100,Sri Lanka !,"Kulasekara, NuwanNuwan Kulasekara",Chennai Super Kings,"$100,000","$100,000"
101,Australia !,"Wade, MatthewMatthew Wade",Delhi Daredevils,"$100,000","$100,000"
102,England !,"Mascarenhas, DimitriDimitri Mascarenhas",Kings XI Punjab,"$100,000","$100,000"
103,South Africa !,"Ingram, ColinColin Ingram",Delhi Daredevils,"$100,000","$100,000"
104,Australia !,"Hilfenhaus, BenBen Hilfenhaus",Chennai Super Kings,"$100,000","$100,000"
105,India !,"Singh, PankajPankaj Singh",Rajasthan Royals,"$95,000","$50,000"
106,South Africa !,"Theron, RustyRusty Theron",Deccan Chargers,"$85,000","$50,000"
107,Sri Lanka !,"Randiv, SurajSuraj Randiv",Chennai Super Kings,"$80,000","$50,000"
108,Australia !,"Hastings, JohnJohn Hastings",Kochi Tuskers Kerala,"$20,000","$20,000"
109,Australia !,"McDonald, AndrewAndrew McDonald",Delhi Daredevils,"$80,000","$50,000"
110,Sri Lanka !,"Perera, ThissaraThissara Perera",Kochi Tuskers Kerala,"$80,000","$50,000"
111,England !,"Lumb, MichaelMichael Lumb",Deccan Chargers,"$80,000","$50,000"
112,Australia !,"Klinger, MichaelMichael Klinger",Kochi Tuskers Kerala,"$75,000","$20,000"
113,South Africa !,"van der Wath, JohanJohan van der Wath",Royal Challengers Bangalore,"$50,000","$50,000"
114,Australia !,"Henriques, MoisesMoises Henriques",Mumbai Indians,"$50,000","$50,000"
115,Australia !,"Bailey, GeorgeGeorge Bailey",Chennai Super Kings,"$50,000","$50,000"
116,South Africa !,"van der Merwe, RoelofRoelof van der Merwe",Delhi Daredevils,"$50,000","$50,000"
117,Australia !,"Pomersbach, LukeLuke Pomersbach",Royal Challengers Bangalore,"$50,000","$20,000"
118,South Africa !,"Rossouw, RileeRilee Rossouw",Royal Challengers Bangalore,"$20,000","$20,000"
119,Sri Lanka !,"Pradeep, NuwanNuwan Pradeep",Royal Challengers Bangalore,"$20,000","$20,000"
120,Australia !,"Lynn, ChrisChris Lynn",Deccan Chargers,"$20,000","$20,000"
121,Australia !,"Birt, TravisTravis Birt",Delhi Daredevils,"$20,000","$20,000"
122,Australia !,"Rimmington, NathanNathan Rimmington",Kings XI Punjab,"$20,000","$20,000"
123,South Africa !,"Vandiar, JonathanJonathan Vandiar",Royal Challengers Bangalore,"$20,000","$20,000"
124,Australia !,"Blizzard, AidenAiden Blizzard",Mumbai Indians,"$20,000","$20,000"
125,South Africa !,"Frylinck, RobertRobert Frylinck",Delhi Daredevils,"$20,000","$20,000"
126,Australia !,"O'Keefe, StephenStephen O'Keefe",Kochi Tuskers Kerala,"$20,000","$20,000"

In [94]:
url_auction_2012='https://en.wikipedia.org/wiki/List_of_2012_Indian_Premier_League_personnel_changes'
auction_2012 = urllib.request.urlopen(url_auction_2012)
auc_html_2012 = BeautifulSoup(auction_2012)

C:\Continuum\Anaconda2\envs\TFENV\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file C:\Continuum\Anaconda2\envs\TFENV\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [95]:
auc_rows = auc_html_2012.find_all('table',attrs={'class':'wikitable sortable'})
auc_rows = auc_rows[3].find_all('tr')

In [96]:
list_auc_2012 = make_list(auc_rows)

In [97]:
df_auc_2012 = pd.DataFrame(list_auc_2012[2:], columns = list_auc_2012[0])

In [98]:
df_auc_2012

,Nat,Player,Team,Base price,Winning bid
0,New Zealand !,"McCullum, BrendonBrendon McCullum",Kolkata Knight Riders,"$400,000","$900,000"
1,India !,"Jadeja, RavindraRavindra Jadeja",Chennai Super Kings,"$100,000","$2,000,000"
2,Sri Lanka !,"Muralitharan, MuttiahMuttiah Muralitharan",Royal Challengers Bangalore,"$200,000","$220,000"
3,Sri Lanka !,"Jayawardene, MahelaMahela Jayawardene",Delhi Daredevils,"$300,000","$1,400,000"
4,South Africa !,"Gibbs, HerschelleHerschelle Gibbs",Mumbai Indians,"$50,000","$50,000"
5,Australia !,"Hodge, BradBrad Hodge",Rajasthan Royals,"$200,000","$475,000"
6,India !,"Patel, ParthivParthiv Patel",Deccan Chargers,"$200,000","$650,000"
7,Sri Lanka !,"Chandimal, DineshDinesh Chandimal",Rajasthan Royals,"$50,000","$50,000"
8,West Indies !,"Russell, AndreAndre Russell",Delhi Daredevils,"$50,000","$450,000"
9,Australia !,"Johnson, MitchellMitchell Johnson",Mumbai Indians,"$300,000","$300,000"
10,India !,"Singh, R. P.R. P. Singh",Mumbai Indians,"$200,000","$600,000"
11,India !,"Kumar, VinayVinay Kumar",Royal Challengers Bangalore,"$100,000","$1,000,000"
12,India !,Sreesanth,Rajasthan Royals,"$400,000","$400,000"
13,India !,"Powar, RameshRamesh Powar",Kings XI Punjab,"$100,000","$160,000"
14,Australia !,"Hogg, BradBrad Hogg",Rajasthan Royals,"$100,000","$180,000"
15,West Indies !,"Narine, SunilSunil Narine",Kolkata Knight Riders,"$50,000","$700,000"
16,South Africa !,"Peterson, RobinRobin Peterson",Mumbai Indians,"$100,000","$100,000"
17,Australia !,"Harris, DanielDaniel Harris",Deccan Chargers,"$50,000","$70,000"
18,West Indies !,"Cooper, KevonKevon Cooper",Rajasthan Royals,"$50,000","$50,000"
19,Australia !,"Faulkner, JamesJames Faulkner",Kings XI Punjab,"$100,000","$190,000"
20,England !,"Mahmood, AzharAzhar Mahmood",Kings XI Punjab,"$100,000","$200,000"
21,Sri Lanka !,"Perera, ThisaraThisara Perera",Mumbai Indians,"$50,000","$650,000"
22,South Africa !,"de Lange, MarchantMarchant de Lange",Kolkata Knight Riders,"$50,000","$50,000"
23,West Indies !,"Bravo, DarrenDarren Bravo",Deccan Chargers,"$100,000","$100,000"
24,New Zealand !,"Bracewell, DougDoug Bracewell",Delhi Daredevils,"$50,000","$50,000"