In [4]:
import yaml
import os
os.chdir('C:\\Users\\401738\\Downloads\\ipl\\')

FUNCTION to load each YAML files for a particular IPL season. #start and #end variables are the starting and ending file names

In [5]:
def load_data(start , end ):
    matches = []
    for i in range(start, end):
        if os.path.isfile('./'+str(i)+'.yaml'):
            with open('./'+str(i)+'.yaml','r')as f:
                doc= yaml.load(f)
                matches.append(doc)
    return matches

Calling the above function and passing the start and end file names to load the data.

In [6]:
m_2008 = load_data(335982,336041)

In [7]:
m_2009 = load_data(392181,392240 )

In [8]:
m_2010 = load_data(419106,419166)

In [9]:
m_2011 = load_data(501198, 501272)

In [10]:
m_2012 = load_data(548306, 548382)

In [11]:
m_2013 = load_data(597998, 598074)

In [12]:
m_2014 = load_data(729279, 734050)

In [13]:
m_2015 = load_data(829705, 829824)

In [14]:
m_2016 = load_data(980901, 981020)

In [15]:
m_2017 = load_data(1082591, 1082651)

The following function extracts important information from each match of a season,viz runs per over , wickets per over and total runs in each innings in the form of a DICTIONARY object. You need to only pass the innings dict.

In [16]:
def extract_data(innings):
    total_runs =0
    k=0.0
    prev=0.0
    over_runs = {}
    over_wickets = {}
    runs= 0
    w_counter = 0
    for i in range(0,len(innings)):
        #if (i==0):
            #print ('Match Started: Over # 1')
        for k , v in innings[i].items():
            if ((prev//1) != (k//1)):
                #print ('Over #', int((prev//1) +1),' completed')
                #print ('Runs Scored #',runs)
                runs+= int(innings[i][k]['runs']['total'])
                if ('wicket' in innings[i][k]):
                    w_counter+=1
                    over_wickets[k] = [w_counter,innings[i][k]['wicket']['player_out'],innings[i][k]['wicket']['kind']]
                    #print (' Over -', k,'Out!!','wicket #',w_counter, innings[i][k]['wicket']['player_out'],innings[i][k]['wicket']['kind'])
                over_runs[int((prev//1) +1)]= int(runs)
                #print ('Over #', int((k//1) +1),' started and running')
                runs = 0
            else:
                #print ('Over #', int((prev//1) +1),' running')
                runs+= int(innings[i][k]['runs']['total'])
                if ('wicket' in innings[i][k]):
                    w_counter+=1
                    over_wickets[k] = [w_counter,innings[i][k]['wicket']['player_out'],innings[i][k]['wicket']['kind']]
                    #rint (' Over -', k,'Out!!','wicket #',w_counter, innings[i][k]['wicket']['player_out'],innings[i][k]['wicket']['kind'])
            prev = k
            total_runs+= innings[i][k]['runs']['total']
        if( i == len(innings) -1 ):
            #print ('Over #', int((prev//1) +1),' completed')
            #print ('Runs Scored #',runs)
            over_runs[int((prev//1) +1)]= int(runs)
    return over_runs , over_wickets , total_runs

This function wraps the DICTIONARY objects created by the above function for a match and stores the same for all the matches in a season into a LIST object.

In [17]:
def generate_data(matches):
    rpo_innings1 = []
    rpo_innings2 = []
    wpo_innings1 = []
    wpo_innings2 = []
    tr_innings1 = []
    tr_innings2 = []
    team_innings1 = []
    team_innings2 = []
    misc_info = []
    
    for i in range(0,len(matches)):
        
        if (len(matches[i]['innings']) > 1):
            
            rpo_i1 , wpo_i1 , tr_i1 = extract_data(matches[i]['innings'][0]['1st innings']['deliveries'])
            rpo_innings1.append(rpo_i1)
            wpo_innings1.append(wpo_i1)
            tr_innings1.append(tr_i1)
            team_innings1.append(matches[i]['innings'][0]['1st innings']['team'])
        
            rpo_i2 , wpo_i2 , tr_i2 = extract_data(matches[i]['innings'][1]['2nd innings']['deliveries'])
            rpo_innings2.append(rpo_i2)
            wpo_innings2.append(wpo_i2)
            tr_innings2.append(tr_i2)
            team_innings2.append(matches[i]['innings'][1]['2nd innings']['team'])
           
            
            misc_info.append([matches[i]['info']['venue'],matches[i]['info']['toss']['winner'],matches[i]['info']['toss']['decision'],matches[i]['info']['outcome']])
        else :
            pass
            
    return rpo_innings1, rpo_innings2 , wpo_innings1 , wpo_innings2 , tr_innings1, tr_innings2, team_innings1 , team_innings2,misc_info

Calling the above function and creating a series of LIST objects.

In [18]:
rpo_i1_2008,rpo_i2_2008,wpo_i1_2008,wpo_i2_2008,tr_i1_2008,tr_i2_2008,team_i1_2008,team_i2_2008,misc_info_2008 = generate_data(m_2008)
rpo_i1_2009,rpo_i2_2009,wpo_i1_2009,wpo_i2_2009,tr_i1_2009,tr_i2_2009,team_i1_2009,team_i2_2009,misc_info_2009 = generate_data(m_2009)
rpo_i1_2010,rpo_i2_2010,wpo_i1_2010,wpo_i2_2010,tr_i1_2010,tr_i2_2010,team_i1_2010,team_i2_2010,misc_info_2010 = generate_data(m_2010)
rpo_i1_2011,rpo_i2_2011,wpo_i1_2011,wpo_i2_2011,tr_i1_2011,tr_i2_2011,team_i1_2011,team_i2_2011,misc_info_2011 = generate_data(m_2011)
rpo_i1_2012,rpo_i2_2012,wpo_i1_2012,wpo_i2_2012,tr_i1_2012,tr_i2_2012,team_i1_2012,team_i2_2012,misc_info_2012 = generate_data(m_2012)
rpo_i1_2013,rpo_i2_2013,wpo_i1_2013,wpo_i2_2013,tr_i1_2013,tr_i2_2013,team_i1_2013,team_i2_2013,misc_info_2013 = generate_data(m_2013)
rpo_i1_2014,rpo_i2_2014,wpo_i1_2014,wpo_i2_2014,tr_i1_2014,tr_i2_2014,team_i1_2014,team_i2_2014,misc_info_2014 = generate_data(m_2014)
rpo_i1_2015,rpo_i2_2015,wpo_i1_2015,wpo_i2_2015,tr_i1_2015,tr_i2_2015,team_i1_2015,team_i2_2015,misc_info_2015 = generate_data(m_2015)
rpo_i1_2016,rpo_i2_2016,wpo_i1_2016,wpo_i2_2016,tr_i1_2016,tr_i2_2016,team_i1_2016,team_i2_2016,misc_info_2016 = generate_data(m_2016)
rpo_i1_2017,rpo_i2_2017,wpo_i1_2017,wpo_i2_2017,tr_i1_2017,tr_i2_2017,team_i1_2017,team_i2_2017,misc_info_2017 = generate_data(m_2017)

In [19]:
#import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

This function takes wickets per over dictionary created earlier, and returns the total wickets that has fallen during a match for a particular team.

In [20]:
def add_wpo(wpo):  
    wickets= []
    for i in range(len(wpo)):
        wickets.append([(int(k//1) + 1) for k, v in wpo[i].items()])
    wickets_full=[]
    for li in wickets:
        wickets_full.append([0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0])
        for i in li:
            if i in range(1,21):
                wickets_full[wickets.index(li)][i-1] += 1 
    return wickets_full

This function below creates a full Dataset combining all the above extracted information on an innings level.

In [21]:
def create_full_dataset(rpo_inn, tr_inn , wpo_inn,team_inn):
    rpo_inn_df = pd.DataFrame.from_dict(rpo_inn)
    tr_inn_df = pd.DataFrame(tr_inn, columns =['Total'])
    w_inn_df = pd.DataFrame([len(i) for i in wpo_inn], columns = ['wickets'])
    runs_wickets_inn_df = w_inn_df.join(tr_inn_df)

    wickets_full = add_wpo(wpo_inn)
    wickets_df = pd.DataFrame(wickets_full,columns=['wickts_1','wickts_2','wickts_3','wickts_4','wickts_5','wickts_6',
                     'wickts_7','wickts_8','wickts_9','wickts_10','wickts_11','wickts_12','wickts_13','wickts_14',
                     'wickts_15','wickts_16','wickts_17','wickts_18','wickts_19','wickts_20'])
    inn_df = rpo_inn_df.join(wickets_df)
    inn_df = inn_df.join(runs_wickets_inn_df)
    inn_df.columns = ['runs_1','runs_2','runs_3','runs_4','runs_5','runs_6','runs_7','runs_8','runs_9','runs_10','runs_11','runs_12',
                     'runs_13','runs_14','runs_15','runs_16','runs_17','runs_18','runs_19','runs_20','wickts_1','wickts_2',
                     'wickts_3','wickts_4','wickts_5','wickts_6','wickts_7','wickts_8','wickts_9','wickts_10','wickts_11',
                     'wickts_12','wickts_13','wickts_14','wickts_15','wickts_16','wickts_17','wickts_18','wickts_19','wickts_20',
                     'wickets','Total']
    inn_df = inn_df.join(pd.DataFrame(team_inn,columns = ['batting_team']))
    return inn_df

In [55]:
i1_df_2008 = create_full_dataset(rpo_i1_2008, tr_i1_2008, wpo_i1_2008,team_i1_2008)

In [56]:
i1_df_2009 = create_full_dataset(rpo_i1_2009, tr_i1_2009, wpo_i1_2009,team_i1_2009)

In [25]:
# substituting no results with NA
for n in range(0,len(misc_info_2008)):
    if 'winner' in misc_info_2008[n][3].keys():
        misc_info_2008[n][3] = misc_info_2008[n][3]['winner']
    else : misc_info_2008[n][3] = 'NA'

In [26]:
# substituting no results with NA
for n in range(0,len(misc_info_2009)):
    if 'winner' in misc_info_2009[n][3].keys():
        misc_info_2009[n][3] = misc_info_2009[n][3]['winner']
    else : misc_info_2009[n][3] = 'NA'

In [57]:
misc_df_2008 = pd.DataFrame(misc_info_2008, columns =['venue','toss_winner','toss_decision','match_winner'])

In [58]:
misc_df_2009 = pd.DataFrame(misc_info_2009, columns =['venue','toss_winner','toss_decision','match_winner'])

In [60]:
misc_df_2008.head(5)
df_1st_inn_2008 = pd.concat([i1_df_2008,misc_df_2008],axis =1)

In [61]:
df_1st_inn_2009 = pd.concat([i1_df_2009,misc_df_2009],axis =1)

In [63]:
#df_1st_inn_2008[['toss_winner','toss_decision','match_winner','winner']]
df_1st_inn_2008 = df_1st_inn_2008[['toss_winner','toss_decision','match_winner','batting_team','wickets','Total','venue']]

In [64]:
df_1st_inn_2009 = df_1st_inn_2009[['toss_winner','toss_decision','match_winner','batting_team','wickets','Total','venue']]

In [72]:
df_1st_inn_2008['winner']=0

df_1st_inn_2008.loc[df_1st_inn_2008['match_winner'] == df_1st_inn_2008['batting_team'],'winner'] = 1

C:\Continuum\Anaconda2\envs\TFENV\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Continuum\Anaconda2\envs\TFENV\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [73]:
df_1st_inn_2009['winner']=0
df_1st_inn_2009.loc[df_1st_inn_2009['match_winner'] == df_1st_inn_2009['batting_team'],'winner'] = 1

In [75]:
df_1st_inn_2008.columns

Index(['toss_winner', 'toss_decision', 'match_winner', 'batting_team',
       'wickets', 'Total', 'venue', 'winner'],
      dtype='object')

In [76]:
df_1st_inn_2008_modified=df_1st_inn_2008[['toss_winner','toss_decision','wickets','Total','venue','winner']]

In [77]:
df_1st_inn_2009.head(5)

,toss_winner,toss_decision,match_winner,batting_team,wickets,Total,venue,winner
0,Chennai Super Kings,field,Mumbai Indians,Mumbai Indians,7,165,Newlands,1
1,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,Royal Challengers Bangalore,8,133,Newlands,1
2,Delhi Daredevils,field,Delhi Daredevils,Kings XI Punjab,7,104,Newlands,0
3,Kolkata Knight Riders,bat,Deccan Chargers,Kolkata Knight Riders,10,101,Newlands,0
4,Chennai Super Kings,bat,Chennai Super Kings,Chennai Super Kings,5,179,St George's Park,1

In [78]:
df_1st_inn_2009_modified=df_1st_inn_2009[['toss_winner','toss_decision','wickets','Total','venue','winner']]

In [79]:
y_2008 = df_1st_inn_2008_modified['winner'].copy()
X_2008 = df_1st_inn_2008_modified.drop(labels=['winner'], axis=1)

In [82]:
y_2009 = df_1st_inn_2009_modified['winner'].copy()
X_2009 = df_1st_inn_2009_modified.drop(labels=['winner'], axis=1)

In [83]:
df_1st_inn_2009_modified.head()

,toss_winner,toss_decision,wickets,Total,venue,winner
0,Chennai Super Kings,field,7,165,Newlands,1
1,Royal Challengers Bangalore,bat,8,133,Newlands,1
2,Delhi Daredevils,field,7,104,Newlands,0
3,Kolkata Knight Riders,bat,10,101,Newlands,0
4,Chennai Super Kings,bat,5,179,St George's Park,1

In [84]:
from sklearn.preprocessing import LabelEncoder 
labelencoder_X = LabelEncoder()
X_2008.loc[:,'toss_winner'] = labelencoder_X.fit_transform(X_2008.loc[:,'toss_winner'])
X_2008.loc[:,'toss_decision'] = labelencoder_X.fit_transform(X_2008.loc[:,'toss_decision'])
X_2008.loc[:,'venue'] = labelencoder_X.fit_transform(X_2008.loc[:,'venue'])

In [85]:
from sklearn.preprocessing import LabelEncoder 
labelencoder_X = LabelEncoder()
X_2009.loc[:,'toss_winner'] = labelencoder_X.fit_transform(X_2009.loc[:,'toss_winner'])
X_2009.loc[:,'toss_decision'] = labelencoder_X.fit_transform(X_2009.loc[:,'toss_decision'])
X_2009.loc[:,'venue'] = labelencoder_X.fit_transform(X_2009.loc[:,'venue'])

In [86]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_2008, y_2008, test_size = 0.2, random_state = 0)

In [87]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=0, splitter='best')

In [88]:
# Applying k-Fold Cross Validation
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X = X_train, y = y_train, cv = 10)
print(accuracies.mean())
print(accuracies.std())

0.793333333333
0.213853532431

In [89]:
X_2009.head(12)

    toss_winner  toss_decision  wickets  Total  venue
0             0              1        7    165      4
1             7              0        8    133      4
2             2              1        7    104      4
3             4              0       10    101      4
4             0              0        5    179      6
5             4              1        6    158      2
6             1              0        6    184      4
7             2              0        5    189      2
8             4              1        6    150      4
9             7              0        9    168      2
10            1              0        9    168      2
11            7              0        7    149      6

In [90]:
# Predicting the Test set results
y_pred = classifier.predict(X_2009)

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix  
cm = confusion_matrix(y_2009, y_pred)
cm

array([[24,  7],
       [12, 14]])

In [91]:
from sklearn.metrics import f1_score
f_score = f1_score(y_2009,y_pred)

In [92]:
f_score

0.5957446808510638