In [1]:
from bs4 import BeautifulSoup
import urllib
import pandas as pd
import numpy as np

In [2]:
def make_list(rows):
    list_data = []
    head =[row.find_all('th') for row in rows]
    list_data.append([ele.text.strip() for ele in head[0]])
    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        list_data.append([ele for ele in cols if ele !=[]])
    return list_data

In [11]:
url_auction_2008='https://en.wikipedia.org/wiki/2008_Indian_Premier_League'
auction_2008 = urllib.request.urlopen(url_auction_2008)
auc_html_2008 = BeautifulSoup(auction_2008,'lxml')
auc_rows = auc_html_2008.find('table',attrs={'class':'wikitable sortable'})
auc_rows = auc_rows.find_all('tr')

In [12]:
list_auc_2008 = make_list(auc_rows)

In [13]:
df_auc_2008 = pd.DataFrame(list_auc_2008[2:], columns = list_auc_2008[0])

In [14]:
df_auc_2008

,Nat,Player,Franchise,Price (USD)
0,,"Dhoni, Mahendra SinghMahendra Singh Dhoni",Chennai Super Kings,"1,500,000"
1,,"Gilchrist, AdamAdam Gilchrist",Deccan Chargers,"700,000"
2,,"Muralitharan, MuttiahMuttiah Muralitharan",Chennai Super Kings,"600,000"
3,,"Jayawardene, MahelaMahela Jayawardene",Kings XI Punjab,"475,000"
4,,"Warne, ShaneShane Warne",Rajasthan Royals,"450,000"
5,,"Akhtar, ShoaibShoaib Akhtar",Kolkata Knight Riders in 2008,"425,000"
6,,"Kumble, AnilAnil Kumble",Royal Challengers Bangalore in 2008,"500,000"
7,,"Singh, HarbhajanHarbhajan Singh",Mumbai Indians,"850,000"
8,,"Jayasuriya, SanathSanath Jayasuriya",Mumbai Indians,"975,000"
9,,"Sangakkara, KumarKumar Sangakkara",Kings XI Punjab,"700,000"
10,,"Ponting, RickyRicky Ponting",Kolkata Knight Riders in 2008,"400,000"
11,,"Lee, BrettBrett Lee",Kings XI Punjab,"900,000"
12,,"Symonds, AndrewAndrew Symonds",Deccan Chargers,"1,350,000"
13,,"Vettori, DanielDaniel Vettori",Delhi Daredevils in 2008,"625,000"
14,,"Hayden, MatthewMatthew Hayden",Chennai Super Kings,"375,000"
15,,"McCullum, BrendonBrendon McCullum",Kolkata Knight Riders in 2008,"700,000"
16,,"Oram, JacobJacob Oram",Chennai Super Kings,"675,000"
17,,"Fleming, StephenStephen Fleming",Chennai Super Kings,"350,000"
18,,"Smith, GraemeGraeme Smith",Rajasthan Royals,"250,000"
19,,"Gibbs, HerschelleHerschelle Gibbs",Deccan Chargers,"575,000"
20,,"Gayle, ChrisChris Gayle",Kolkata Knight Riders in 2008,"800,000"
21,,"Malik, ShoaibShoaib Malik",Delhi Daredevils in 2008,"500,000"
22,,"Afridi, ShahidShahid Afridi",Deccan Chargers,"675,000"
23,,"Khan, YounisYounis Khan",Rajasthan Royals,"225,000"
24,,"Asif, MohammadMohammad Asif",Delhi Daredevils in 2008,"650,000"
25,,"Kallis, JacquesJacques Kallis",Royal Challengers Bangalore in 2008,"900,000"
26,,"Khan, ZaheerZaheer Khan",Royal Challengers Bangalore in 2008,"450,000"
27,,Sreesanth,Kings XI Punjab,"625,000"
28,,"Karthik, DineshDinesh Karthik",Delhi Daredevils in 2008,"525,000"
29,,"de Villiers, ABAB de Villiers",Delhi Daredevils in 2008,"300,000"
...,...,...,...,...
45,,"Laxman, V. V. S.V. V. S. Laxman",Deccan Chargers,"375,000"
46,,"Jaffer, WasimWasim Jaffer",Royal Challengers Bangalore in 2008,"150,000"
47,,"Sharma, RohitRohit Sharma",Deccan Chargers,"750,000"
48,,"Kaif, MohammadMohammad Kaif",Rajasthan Royals,"675,000"
49,,"Raina, SureshSuresh Raina",Chennai Super Kings,"650,000"
50,,"Tiwary, ManojManoj Tiwary",Delhi Daredevils in 2008,"675,000"
51,,"Silva, ChamaraChamara Silva",Deccan Chargers,"100,000"
52,,"Hussey, DavidDavid Hussey",Kolkata Knight Riders in 2008,"625,000"
53,,"Bracken, NathanNathan Bracken",Royal Challengers Bangalore in 2008,"325,000"
54,,"Singh, R. P.R. P. Singh",Deccan Chargers,"875,000"
55,,"Kartik, MuraliMurali Kartik",Kolkata Knight Riders in 2008,"425,000"
56,,"Ntini, MakhayaMakhaya Ntini",Chennai Super Kings,"200,000"
57,,"Malinga, LasithLasith Malinga",Mumbai Indians,"350,000"
58,,"Vaas, ChamindaChaminda Vaas",Deccan Chargers,"200,000"
59,,"Powar, RameshRamesh Powar",Kings XI Punjab,"170,000"
60,,"Gul, UmarUmar Gul",Kolkata Knight Riders in 2008,"150,000"
61,,"Steyn, DaleDale Steyn",Royal Challengers Bangalore in 2008,"325,000"
62,,"Fernando, DilharaDilhara Fernando",Mumbai Indians,"150,000"
63,,"Sharma, IshantIshant Sharma",Kolkata Knight Riders in 2008,"950,000"
64,,"Chawla, PiyushPiyush Chawla",Kings XI Punjab,"400,000"
65,,"Patel, MunafMunaf Patel",Rajasthan Royals,"275,000"
66,,"Zoysa, NuwanNuwan Zoysa",Deccan Chargers,"110,000"
67,,"McGrath, GlennGlenn McGrath",Delhi Daredevils in 2008,"350,000"
68,,"Hussey, MichaelMichael Hussey",Chennai Super Kings,"250,000"
69,,"Taibu, TatendaTatenda Taibu",Kolkata Knight Riders in 2008,"125,000"
70,,"Sarwan, RamnareshRamnaresh Sarwan",Kings XI Punjab,"225,000"
71,,"Katich, SimonSimon Katich",Kings XI Punjab,"200,000"
72,,"Langer, JustinJustin Langer",Rajasthan Royals,"200,000"
73,,"Chanderpaul, ShivnarineShivnarine Chanderpaul",Royal Challengers Bangalore in 2008,"200,000"
74,,"Bosman, LootsLoots Bosman",Mumbai Indians,"150,000"

In [7]:
url_auction_2009='https://en.wikipedia.org/wiki/List_of_2009_Indian_Premier_League_personnel_changes#Auction'
auction_2009 = urllib.request.urlopen(url_auction_2009)
auc_html_2009 = BeautifulSoup(auction_2009,'lxml')
auc_rows = auc_html_2009.find('table',attrs={'class':'wikitable sortable'})
auc_rows = auc_rows.find_all('tr')

In [8]:
list_auc_2009 = make_list(auc_rows)

In [9]:
df_auc_2009 = pd.DataFrame(list_auc_2009[2:], columns = list_auc_2009[0])

In [10]:
df_auc_2009

               Nat             Player Team Winning bid  Base price
0      Australia !         Shaun Tait         $375,000    $250,000
1   South Africa !          JP Duminy         $950,000    $300,000
2        England !    Andrew Flintoff       $1,550,000    $950,000
3        England !    Kevin Pietersen       $1,550,000  $1,350,000
4    West Indies !      Fidel Edwards         $150,000    $150,000
5        England !         Owais Shah         $275,000    $150,000
6        England !   Paul Collingwood         $275,000    $250,000
7   South Africa !    Tyron Henderson         $650,000    $100,000
8        England !        Ravi Bopara         $450,000    $150,000
9      Sri Lanka !    Thilan Thushara         $140,000    $100,000
10   New Zealand !        Jesse Ryder         $160,000    $100,000
11   New Zealand !         Kyle Mills         $150,000    $150,000
12   West Indies !       Dwayne Smith         $100,000    $100,000
13   West Indies !      Jerome Taylor         $150,000    $150,000
14    Bangladesh !  Mohammad Ashraful          $75,000     $75,000
15    Bangladesh !   Mashrafe Mortaza         $600,000     $50,000
16     Australia !      George Bailey          $50,000     $50,000

In [15]:
url_auction_2010='https://en.wikipedia.org/wiki/List_of_2010_Indian_Premier_League_personnel_changes'
auction_2010 = urllib.request.urlopen(url_auction_2010)
auc_html_2010 = BeautifulSoup(auction_2010,'lxml')
auc_rows = auc_html_2010.find('table',attrs={'class':'wikitable sortable'})
auc_rows = auc_rows.find_all('tr')

In [16]:
list_auc_2010 = make_list(auc_rows)

In [17]:
df_auc_2010 = pd.DataFrame(list_auc_2010[2:], columns = list_auc_2010[0])

In [18]:
df_auc_2010

,Player,Franchise,Sold price (USD),Base price (USD)
0,"Bond, ShaneShane Bond†",Kolkata Knight Riders,"750,000",100000
1,"Pollard, KieronKieron Pollard†",Mumbai Indians,"750,000","200,000"
2,"Roach, KemarKemar Roach",Deccan Chargers,"720,000","100,000"
3,"Parnell, WayneWayne Parnell",Delhi Daredevils,"610,000","200,000"
4,"Kaif, MohammadMohammad Kaif",Kings XI Punjab,"250,000","100,000"
5,"Morgan, EoinEoin Morgan",Royal Challengers Bangalore,"220,000","200,000"
6,"Martyn, DamienDamien Martyn",Rajasthan Royals,"100,000","100,000"
7,"Kemp, JustinJustin Kemp",Chennai Super Kings,"100,000","100,000"
8,"Perera, ThissaraThissara Perera",Chennai Super Kings,"50,000","50,000"
9,"Voges, AdamAdam Voges",Rajasthan Royals,"50,000","50,000"
10,"Abdulla, YusufYusuf Abdulla",Kings XI Punjab,"50,000","50,000"

In [19]:
url_auction_2011='https://en.wikipedia.org/wiki/List_of_2011_Indian_Premier_League_personnel_changes'
auction_2011 = urllib.request.urlopen(url_auction_2011)
auc_html_2011 = BeautifulSoup(auction_2011,'lxml')
auc_rows = auc_html_2011.find('table',attrs={'class':'wikitable sortable'})
auc_rows = auc_rows.find_all('tr')

In [20]:
list_auc_2011 = make_list(auc_rows)

In [21]:
df_auc_2011 = pd.DataFrame(list_auc_2011[2:], columns = list_auc_2011[0])

In [22]:
df_auc_2011

,Nat,Player,Team,Winning bid,Base price
0,India !,"Gambhir, GautamGautam Gambhir",Kolkata Knight Riders,"$2,400,000","$200,000"
1,India !,"Pathan, YusufYusuf Pathan",Kolkata Knight Riders,"$2,100,000","$300,000"
2,India !,"Uthappa, RobinRobin Uthappa",Pune Warriors India,"$2,100,000","$200,000"
3,India !,"Sharma, RohitRohit Sharma",Mumbai Indians,"$2,000,000","$200,000"
4,India !,"Pathan, IrfanIrfan Pathan",Delhi Daredevils,"$1,900,000","$200,000"
5,India !,"Singh, YuvrajYuvraj Singh",Pune Warriors India,"$1,800,000","$400,000"
6,India !,"Tiwary, SaurabhSaurabh Tiwary",Royal Challengers Bangalore,"$1,600,000","$100,000"
7,Sri Lanka !,"Jayawardene, MahelaMahela Jayawardene",Kochi Tuskers Kerala,"$1,500,000","$400,000"
8,Australia !,"Hussey, DavidDavid Hussey",Kings XI Punjab,"$1,400,000","$200,000"
9,South Africa !,"Steyn, DaleDale Steyn",Deccan Chargers,"$1,200,000","$200,000"
10,Sri Lanka !,"Muralitharan, MuttiahMuttiah Muralitharan",Kochi Tuskers Kerala,"$1,100,000","$300,000"
11,Australia !,"White, CameronCameron White",Deccan Chargers,"$1,100,000","$300,000"
12,South Africa !,"Kallis, JacquesJacques Kallis",Kolkata Knight Riders,"$1,100,000","$300,000"
13,South Africa !,"de Villiers, ABAB de Villiers",Royal Challengers Bangalore,"$1,100,000","$400,000"
14,New Zealand !,"Taylor, RossRoss Taylor",Rajasthan Royals,"$1,000,000","$400,000"
15,Sri Lanka !,"Mathews, AngeloAngelo Mathews",Pune Warriors India,"$950,000","$200,000"
16,India !,"Jadeja, RavindraRavindra Jadeja",Kochi Tuskers Kerala,"$950,000","$100,000"
17,South Africa !,"Botha, JohanJohan Botha",Rajasthan Royals,"$950,000","$200,000"
18,India !,"Karthik, DineshDinesh Karthik",Kings XI Punjab,"$900,000","$200,000"
19,India !,"Chawla, PiyushPiyush Chawla",Kings XI Punjab,"$900,000","$100,000"
20,India !,Sreesanth,Kochi Tuskers Kerala,"$900,000","$200,000"
21,Australia !,"Gilchrist, AdamAdam Gilchrist",Kings XI Punjab,"$900,000","$400,000"
22,India !,"Khan, ZaheerZaheer Khan",Royal Challengers Bangalore,"$900,000","$300,000"
23,Australia !,"Christian, DanDan Christian",Deccan Chargers,"$900,000","$50,000"
24,India !,"Ashwin, RavichandranRavichandran Ashwin",Chennai Super Kings,"$850,000","$100,000"
25,India !,"Nehra, AshishAshish Nehra",Pune Warriors India,"$850,000","$200,000"
26,Australia !,"Symonds, AndrewAndrew Symonds",Mumbai Indians,"$850,000","$300,000"
27,India !,"Badrinath, SubramaniamSubramaniam Badrinath",Chennai Super Kings,"$800,000","$100,000"
28,India !,"Kumar, PraveenPraveen Kumar",Kings XI Punjab,"$800,000","$200,000"
29,India !,"Nayar, AbhishekAbhishek Nayar",Kings XI Punjab,"$800,000","$50,000"
...,...,...,...,...,...
97,Jamaica !,"Taylor, JeromeJerome Taylor",Pune Warriors India,"$100,000","$100,000"
98,Australia !,"Pattinson, JamesJames Pattinson",Kolkata Knight Riders,"$100,000","$100,000"
99,South Africa !,"Thomas, AlfonsoAlfonso Thomas",Pune Warriors India,"$100,000","$50,000"
100,Sri Lanka !,"Kulasekara, NuwanNuwan Kulasekara",Chennai Super Kings,"$100,000","$100,000"
101,Australia !,"Wade, MatthewMatthew Wade",Delhi Daredevils,"$100,000","$100,000"
102,England !,"Mascarenhas, DimitriDimitri Mascarenhas",Kings XI Punjab,"$100,000","$100,000"
103,South Africa !,"Ingram, ColinColin Ingram",Delhi Daredevils,"$100,000","$100,000"
104,Australia !,"Hilfenhaus, BenBen Hilfenhaus",Chennai Super Kings,"$100,000","$100,000"
105,India !,"Singh, PankajPankaj Singh",Rajasthan Royals,"$95,000","$50,000"
106,South Africa !,"Theron, RustyRusty Theron",Deccan Chargers,"$85,000","$50,000"
107,Sri Lanka !,"Randiv, SurajSuraj Randiv",Chennai Super Kings,"$80,000","$50,000"
108,Australia !,"Hastings, JohnJohn Hastings",Kochi Tuskers Kerala,"$20,000","$20,000"
109,Australia !,"McDonald, AndrewAndrew McDonald",Delhi Daredevils,"$80,000","$50,000"
110,Sri Lanka !,"Perera, ThissaraThissara Perera",Kochi Tuskers Kerala,"$80,000","$50,000"
111,England !,"Lumb, MichaelMichael Lumb",Deccan Chargers,"$80,000","$50,000"
112,Australia !,"Klinger, MichaelMichael Klinger",Kochi Tuskers Kerala,"$75,000","$20,000"
113,South Africa !,"van der Wath, JohanJohan van der Wath",Royal Challengers Bangalore,"$50,000","$50,000"
114,Australia !,"Henriques, MoisesMoises Henriques",Mumbai Indians,"$50,000","$50,000"
115,Australia !,"Bailey, GeorgeGeorge Bailey",Chennai Super Kings,"$50,000","$50,000"
116,South Africa !,"van der Merwe, RoelofRoelof van der Merwe",Delhi Daredevils,"$50,000","$50,000"
117,Australia !,"Pomersbach, LukeLuke Pomersbach",Royal Challengers Bangalore,"$50,000","$20,000"
118,South Africa !,"Rossouw, RileeRilee Rossouw",Royal Challengers Bangalore,"$20,000","$20,000"
119,Sri Lanka !,"Pradeep, NuwanNuwan Pradeep",Royal Challengers Bangalore,"$20,000","$20,000"
120,Australia !,"Lynn, ChrisChris Lynn",Deccan Chargers,"$20,000","$20,000"
121,Australia !,"Birt, TravisTravis Birt",Delhi Daredevils,"$20,000","$20,000"
122,Australia !,"Rimmington, NathanNathan Rimmington",Kings XI Punjab,"$20,000","$20,000"
123,South Africa !,"Vandiar, JonathanJonathan Vandiar",Royal Challengers Bangalore,"$20,000","$20,000"
124,Australia !,"Blizzard, AidenAiden Blizzard",Mumbai Indians,"$20,000","$20,000"
125,South Africa !,"Frylinck, RobertRobert Frylinck",Delhi Daredevils,"$20,000","$20,000"
126,Australia !,"O'Keefe, StephenStephen O'Keefe",Kochi Tuskers Kerala,"$20,000","$20,000"

In [32]:
url_auction_2012='https://en.wikipedia.org/wiki/List_of_2012_Indian_Premier_League_personnel_changes'
auction_2012 = urllib.request.urlopen(url_auction_2012)
auc_html_2012 = BeautifulSoup(auction_2012,'lxml')

In [33]:
auc_rows = auc_html_2012.find_all('table',attrs={'class':'wikitable sortable'})
auc_rows = auc_rows[3].find_all('tr')

In [34]:
list_auc_2012 = make_list(auc_rows)

In [35]:
df_auc_2012 = pd.DataFrame(list_auc_2012[2:], columns = list_auc_2012[0])

In [36]:
df_auc_2012

,Nat,Player,Team,Base price,Winning bid
0,New Zealand !,"McCullum, BrendonBrendon McCullum",Kolkata Knight Riders,"$400,000","$900,000"
1,India !,"Jadeja, RavindraRavindra Jadeja",Chennai Super Kings,"$100,000","$2,000,000"
2,Sri Lanka !,"Muralitharan, MuttiahMuttiah Muralitharan",Royal Challengers Bangalore,"$200,000","$220,000"
3,Sri Lanka !,"Jayawardene, MahelaMahela Jayawardene",Delhi Daredevils,"$300,000","$1,400,000"
4,South Africa !,"Gibbs, HerschelleHerschelle Gibbs",Mumbai Indians,"$50,000","$50,000"
5,Australia !,"Hodge, BradBrad Hodge",Rajasthan Royals,"$200,000","$475,000"
6,India !,"Patel, ParthivParthiv Patel",Deccan Chargers,"$200,000","$650,000"
7,Sri Lanka !,"Chandimal, DineshDinesh Chandimal",Rajasthan Royals,"$50,000","$50,000"
8,West Indies !,"Russell, AndreAndre Russell",Delhi Daredevils,"$50,000","$450,000"
9,Australia !,"Johnson, MitchellMitchell Johnson",Mumbai Indians,"$300,000","$300,000"
10,India !,"Singh, R. P.R. P. Singh",Mumbai Indians,"$200,000","$600,000"
11,India !,"Kumar, VinayVinay Kumar",Royal Challengers Bangalore,"$100,000","$1,000,000"
12,India !,Sreesanth,Rajasthan Royals,"$400,000","$400,000"
13,India !,"Powar, RameshRamesh Powar",Kings XI Punjab,"$100,000","$160,000"
14,Australia !,"Hogg, BradBrad Hogg",Rajasthan Royals,"$100,000","$180,000"
15,West Indies !,"Narine, SunilSunil Narine",Kolkata Knight Riders,"$50,000","$700,000"
16,South Africa !,"Peterson, RobinRobin Peterson",Mumbai Indians,"$100,000","$100,000"
17,Australia !,"Harris, DanielDaniel Harris",Deccan Chargers,"$50,000","$70,000"
18,West Indies !,"Cooper, KevonKevon Cooper",Rajasthan Royals,"$50,000","$50,000"
19,Australia !,"Faulkner, JamesJames Faulkner",Kings XI Punjab,"$100,000","$190,000"
20,England !,"Mahmood, AzharAzhar Mahmood",Kings XI Punjab,"$100,000","$200,000"
21,Sri Lanka !,"Perera, ThisaraThisara Perera",Mumbai Indians,"$50,000","$650,000"
22,South Africa !,"de Lange, MarchantMarchant de Lange",Kolkata Knight Riders,"$50,000","$50,000"
23,West Indies !,"Bravo, DarrenDarren Bravo",Deccan Chargers,"$100,000","$100,000"
24,New Zealand !,"Bracewell, DougDoug Bracewell",Delhi Daredevils,"$50,000","$50,000"

In [37]:
url_auction_2013='https://en.wikipedia.org/wiki/List_of_2013_Indian_Premier_League_personnel_changes'
auction_2013 = urllib.request.urlopen(url_auction_2013)
auc_html_2013 = BeautifulSoup(auction_2013,'lxml')
auc_rows = auc_html_2013.find_all('table',attrs={'class':'wikitable sortable'})
auc_rows = auc_rows[2].find_all('tr')

In [38]:
list_auc_2013 = make_list(auc_rows)

In [39]:
df_auc_2013 = pd.DataFrame(list_auc_2013[2:], columns = list_auc_2013[0])

In [40]:
df_auc_2013

,Nat,Player,Team,Base price,Winning bid
0,West Indies !,"Barnwell, ChristopherChristopher Barnwell",Mumbai Indians,"$50,000","$50,000"
1,South Africa !,"Botha, JohanJohan Botha",Delhi Daredevils,"$300,000","$450,000"
2,Australia !,"Christian, DanielDaniel Christian",Royal Challengers Bangalore,"$100,000","$100,000"
3,Australia !,"Clarke, MichaelMichael Clarke",Pune Warriors India,"$400,000","$400,000"
4,Australia !,"Coulter-Nile, NathanNathan Coulter-Nile",Mumbai Indians,"$100,000","$450,000"
5,Sri Lanka !,"Dananjaya, AkilaAkila Dananjaya",Chennai Super Kings,"$20,000","$20,000"
6,South Africa !,"de Kock, QuintonQuinton de Kock",Sunrisers Hyderabad,"$20,000","$20,000"
7,West Indies !,"Edwards, FidelFidel Edwards",Rajasthan Royals,"$100,000","$210,000"
8,Australia !,"Faulkner, JamesJames Faulkner",Rajasthan Royals,"$100,000","$400,000"
9,India !,"Gony, ManpreetManpreet Gony",Kings XI Punjab,"$200,000","$500,000"
10,Australia !,"Henriques, MoisésMoisés Henriques",Royal Challengers Bangalore,"$100,000","$300,000"
11,West Indies !,"Holder, JasonJason Holder",Chennai Super Kings,"$20,000","$20,000"
12,Australia !,"Hughes, PhillipPhillip Hughes",Mumbai Indians,"$100,000","$100,000"
13,Australia !,"Laughlin, BenBen Laughlin",Chennai Super Kings,"$20,000","$20,000"
14,Australia !,"Maxwell, GlennGlenn Maxwell",Mumbai Indians,"$200,000","$1,000,000"
15,New Zealand !,"McCullum, NathanNathan McCullum",Sunrisers Hyderabad,"$100,000","$100,000"
16,Australia !,"McKay, ClintClint McKay",Sunrisers Hyderabad,"$100,000","$100,000"
17,South Africa !,"McLaren, RyanRyan McLaren",Kolkata Knight Riders,"$50,000","$50,000"
18,Sri Lanka !,"Mendis, AjanthaAjantha Mendis",Pune Warriors India,"$50,000","$725,000"
19,Sri Lanka !,"Mendis, JeevanJeevan Mendis",Delhi Daredevils,"$50,000","$50,000"
20,South Africa !,"Morris, ChrisChris Morris",Chennai Super Kings,"$20,000","$625,000"
21,Australia !,"Nannes, DirkDirk Nannes",Chennai Super Kings,"$200,000","$600,000"
22,India !,"Nayar, AbhishekAbhishek Nayar",Pune Warriors India,"$100,000","$675,000"
23,New Zealand !,"Oram, JacobJacob Oram",Mumbai Indians,"$50,000","$50,000"
24,Sri Lanka !,"Perera, KusalKusal Perera",Rajasthan Royals,"$20,000","$20,000"
25,Sri Lanka !,"Perera, ThisaraThisara Perera",Sunrisers Hyderabad,"$50,000","$675,000"
26,Australia !,"Pomersbach, LukeLuke Pomersbach",Kings XI Punjab,"$50,000","$300,000"
27,Australia !,"Ponting, RickyRicky Ponting",Mumbai Indians,"$400,000","$400,000"
28,West Indies !,"Rampaul, RaviRavi Rampaul",Royal Challengers Bangalore,"$50,000","$290,000"
29,Australia !,"Richardson, KaneKane Richardson",Pune Warriors India,"$100,000","$700,000"
30,New Zealand !,"Ryder, JesseJesse Ryder",Delhi Daredevils,"$100,000","$260,000"
31,West Indies !,"Sammy, DarrenDarren Sammy",Sunrisers Hyderabad,"$100,000","$425,000"
32,Sri Lanka !,"Senanayake, SachithraSachithra Senanayake",Kolkata Knight Riders,"$50,000","$625,000"
33,India !,"Singh, PankajPankaj Singh",Royal Challengers Bangalore,"$50,000","$150,000"
34,India !,"Singh, R. P.R. P. Singh",Royal Challengers Bangalore,"$100,000","$400,000"
35,India !,"Tyagi, SudeepSudeep Tyagi",Sunrisers Hyderabad,"$100,000","$100,000"
36,India !,"Unadkat, JaydevJaydev Unadkat",Royal Challengers Bangalore,"$100,000","$525,000"

In [41]:
url_auction_2014='https://en.wikipedia.org/wiki/List_of_2014_Indian_Premier_League_personnel_changes'
auction_2014 = urllib.request.urlopen(url_auction_2014)
auc_html_2014 = BeautifulSoup(auction_2014,'lxml')
auc_rows = auc_html_2014.find_all('table',attrs={'class':'wikitable sortable'})
auc_rows = auc_rows[1].find_all('tr')

In [42]:
list_auc_2014 = make_list(auc_rows)

In [43]:
df_auc_2014 = pd.DataFrame(list_auc_2014[2:], columns = list_auc_2014[0])

In [44]:
df_auc_2014

,Set No,Set,Name,Country,IPL Matches,IPL Team(s),IPL 2013 Team,Capped / Uncapped,Reserve Price in Lakhs in INR,IPL 2014 Team,Auctioned Price in Lakhs in INR
0,1,M1,Mitchell Johnson,,17,Mumbai Indians,Mumbai Indians,Capped,200,Kings XI Punjab,650
1,1,M1,Jacques Kallis,,90,Royal Challengers Bangalore / Kolkata Knight R...,Kolkata Knight Riders,Capped,200,Kolkata Knight Riders,550
2,1,M1,Kevin Pietersen,,21,Deccan Chargers / Delhi Daredevils / Royal Cha...,Delhi Daredevils,Capped,200,Delhi Daredevils,900
3,1,M1,Virender Sehwag,,79,Delhi Daredevils,Delhi Daredevils,Capped,200,Kings XI Punjab,320
4,1,M1,Yuvraj Singh,,70,Kings XI Punjab / Pune Warriors India,Pune Warriors India,Capped,200,Royal Challengers Bangalore,"1,400"
5,1,M1,Murali Vijay,,64,Chennai Super Kings,Chennai Super Kings,Capped,200,Delhi Daredevils,500
6,1,M1,David Warner,,55,Delhi Daredevils,Delhi Daredevils,Capped,150,Sunrisers Hyderabad,550
7,2,M2,George Bailey,,4,Chennai Super Kings,Chennai Super Kings,Capped,200,Kings XI Punjab,325
8,2,M2,Faf du Plessis,,13,Chennai Super Kings,Chennai Super Kings,Capped,150,Chennai Super Kings,475
9,2,M2,Michael Hussey,,46,Chennai Super Kings,Chennai Super Kings,Capped,200,Mumbai Indians,500
10,2,M2,Dinesh Karthik,,92,Delhi Daredevils / Mumbai Indians,Mumbai Indians,Capped,200,Delhi Daredevils,"1,250"
11,2,M2,Zaheer Khan,,64,Mumbai Indians / Royal Challengers Bangalore,Royal Challengers Bangalore,Capped,100,Mumbai Indians,260
12,2,M2,Brendon McCullum,,48,Kochi Tuskers Kerala / Kolkata Knight Riders,Kolkata Knight Riders,Capped,200,Chennai Super Kings,325
13,2,M2,Amit Mishra,,76,Deccan Chargers / Delhi Daredevils / Sunrisers...,Sunrisers Hyderabad,Capped,200,Sunrisers Hyderabad,475
14,2,M2,Darren Sammy,,10,Sunrisers Hyderabad,Sunrisers Hyderabad,Capped,100,Sunrisers Hyderabad,350
15,3,BA1,Jean-Paul Duminy,,39,Deccan Chargers / Mumbai Indians / Sunrisers H...,Sunrisers Hyderabad,Capped,100,Delhi Daredevils,220
16,3,BA1,Aaron Finch,,23,Rajasthan Royals / Delhi Daredevils / Pune War...,Pune Warriors India,Capped,100,Sunrisers Hyderabad,400
17,3,BA1,Brad Hodge,,62,Kochi Tuskers Kerala / Kolkata Knight Riders /...,Rajasthan Royals,Capped,200,Rajasthan Royals,240
18,3,BA1,Shaun Marsh,,50,Kings XI Punjab,Kings XI Punjab,Capped,200,Kings XI Punjab,220
19,3,BA1,Cheteshwar Pujara,,24,Kolkata Knight Riders / Royal Challengers Bang...,Royal Challengers Bangalore,Capped,150,Kings XI Punjab,190
20,3,BA1,Dwayne Smith,,35,Deccan Chargers / Mumbai Indians,Mumbai Indians,Capped,150,Chennai Super Kings,450
21,3,BA1,Ross Taylor,,51,Royal Challengers Bangalore / Rajasthan Royals...,Pune Warriors India,Capped,200,Delhi Daredevils,200
22,3,BA1,Manoj Tiwary,,65,Delhi Daredevils / Kolkata Knight Riders,Kolkata Knight Riders,Capped,200,Delhi Daredevils,280
23,3,BA1,Robin Uthappa,,91,Mumbai Indians / Pune Warriors India / Royal C...,Pune Warriors India,Capped,200,Kolkata Knight Riders,500
24,4,WK1,Quinton de Kock,,3,Sunrisers Hyderabad,Sunrisers Hyderabad,Capped,100,Delhi Dardevils,350
25,4,WK1,Naman Ojha,,56,Delhi Daredevils / Rajasthan Royals,Rajasthan Royals,Capped,50,Sunrisers Hyderabad,50
26,4,WK1,Parthiv Patel,,67,Chennai Super Kings / Deccan Chargers / Kochi ...,Sunrisers Hyderabad,Capped,100,Royal Challengers Bangalore,275
27,4,WK1,Wriddhiman Saha,,47,Kolkata Knight Riders / Chennai Super Kings,Chkennai Super Kings,Capped,100,Kings XI Punjab,220
28,5,AL1,Shakib Al Hasan,,15,Kolkata Knight Riders,Kolkata Knight Riders,Capped,100,Kolkata Knight Riders,280
29,5,AL1,Albie Morkel,,78,Chennai Super Kings,Chennai Super Kings,Capped,150,Royal Challengers Bangalore,240
...,...,...,...,...,...,...,...,...,...,...,...
124,30,UBA2,Karun Nair,,2,Royal Challengers Bangalore,Royal Challengers Bangalore,Uncapped,10,Rajasthan Royals,75
125,30,UBA2,Apoorv Vijay Wankhade,,,,,Uncapped,10,Mumbai Indians[REC],10
126,31,UWK2,Amit Paunikar,,5,Rajasthan Royals,Rajasthan Royals,Uncapped,20,Sunrisers Hyderabad,20
127,31,UWK2,Dishant Yagnik,,24,Rajasthan Royals,Rajasthan Royals,Uncapped,30,Rajasthan Royals,30
128,32,UAL2,Akshar Patel,,,,,Uncapped,20,Kings XI Punjab,75
129,32,UAL2,Jalaj Saxena,,,,,Uncapped,20,Mumbai Indians,90
130,32,UAL2,Vijay Shankar,,,,,Uncapped,10,Chennai Super Kings,10
131,33,UFA2,Beuran Hendricks,,,,,Uncapped,30,Kings XI Punjab,180
132,33,UFA2,Vikramjeet Malik,,12,Kings XI Punjab / Rajasthan Royals,Rajasthan Royals,Uncapped,20,Rajasthan Royals,20
133,33,UFA2,Ronit More,,,,,Uncapped,10,Chennai Super Kings,10
134,33,UFA2,Harshal Patel,,12,Royal Challengers Bangalore,Royal Challengers Bangalore,Uncapped,30,Royal Challengers Bangalore[RTM],40
135,33,UFA2,Veer Pratap Singh,,9,Deccan Chargers / Sunrisers Hyderabad,Sunrisers Hyderabad,Uncapped,20,Kolkata Knight Riders,40
136,33,UFA2,Ashish Reddy,,21,Deccan Chargers / Sunrisers Hyderabad,Sunrisers Hyderabad,Uncapped,20,Sunrisers Hyderabad[REC],20
137,33,UFA2,Pawan Suyal,,1,Mumbai Indians,Mumbai Indians,Uncapped,10,Mumbai Indians,10
138,33,UFA2,Sandeep Warrier,,,,,Uncapped,10,Royal Challengers Bangalore,10
139,34,USP2,Ankit Nagendra Sharma,,10,Deccan Chargers / Sunrisers Hyderabad,Sunrisers Hyderabad,Uncapped,10,Rajasthan Royals[REC],10
140,35,UBA3,Ricky Bhui,,,,,Uncapped,10,Sunrisers Hyderabad[REC],10
141,37,UAL3,Rahul Tewatia,,,,,Uncapped,10,Rajasthan Royals[REC],10
142,37,UAL3,Jayant Yadav,,,,,Uncapped,10,Delhi Daredevils[REC],10
143,38,UFA3,Amit Mishra,,,,,Uncapped,10,Rajasthan Royals[REC],10
144,38,UFA3,Sachin Rana,,2,Kolkata Knight Riders / Pune Warriors India / ...,Sunrisers Hyderabad,Uncapped,20,Royal Challengers Bangalore[REC],20
145,38,UFA3,HS Sharath[LAT],,,,,Uncapped,10,Delhi Daredevils[REC],10
146,39,USP3,Shivam Sharma[LAT],,,,,Uncapped,10,Kings XI Punjab[REC],10
147,42,UFA4,Deepak Hooda[LAT],,,,,Uncapped,10,Rajasthan Royals[REC],40
148,42,UFA4,Chama Milind,,,,,Uncapped,10,Sunrisers Hyderabad[REC],10
149,42,UFA4,Shardul Thakur,,,,,Uncapped,10,Kings XI Punjab[REC],20
150,44,UBA5,Tanmay Mishra,,1,Deccan Chargers,Deccan Chargers,Uncapped,10,Royal Challengers Bangalore[REC],10
151,45,UAL5,Sayan Sekhar Mondal,,,,,Uncapped,10,Kolkata Knight Riders[REC],10
152,45,UAL5,Karanveer Singh,,,,,Uncapped,10,Kings XI Punjab[REC],10
153,53,UBA9,Milind Kumar,,,,,Uncapped,10,Delhi Daredevils[REC],10

In [45]:
url_auction_2015='https://en.wikipedia.org/wiki/List_of_2015_Indian_Premier_League_personnel_changes'
auction_2015 = urllib.request.urlopen(url_auction_2015)
auc_html_2015 = BeautifulSoup(auction_2015,'lxml')
auc_rows = auc_html_2015.find_all('table',attrs={'class':'wikitable sortable'})
auc_rows = auc_rows[1].find_all('tr')

In [46]:
list_auc_2015 = make_list(auc_rows)

In [47]:
df_auc_2015 = pd.DataFrame(list_auc_2015[2:], columns = list_auc_2015[0])

In [48]:
df_auc_2015

,Name,Nat,IPL Matches,IPL team(s),IPL 2014 team,Capped / uncapped,Base Price in ₹ (in lakhs)[5],IPL 2015 team,Auctioned price in ₹ (in lakhs)
0,Michael Hussey,,55,Chennai Super Kings / Mumbai Indians,Mumbai Indians,Capped,150,Chennai Super Kings,150
1,Irfan Pathan,,98,Delhi Daredevils / Kings XI Punjab / Sunrisers...,Sunrisers Hyderabad,Capped,150,Chennai Super Kings,150
2,Rahul Sharma,,44,Deccan Chargers / Pune Warriors India / Delhi ...,Delhi Daredevils,Capped,30,Chennai Super Kings,30
3,Kyle Abbott,,0,,,Capped,30,Chennai Super Kings,30
4,Andrew Tye,,0,,,Uncapped,20,Chennai Super Kings,20
5,Pratyush Singh,,0,,,Uncapped,10,Chennai Super Kings,10
6,Ankush Bains,,0,Rajasthan Royals,Rajasthan Royals,Uncapped,10,Chennai Super Kings,10
7,Eklavya Dwivedi,,0,Pune Warriors India,,Uncapped,10,Chennai Super Kings,10
8,Yuvraj Singh,,84,Kings XI Punjab / Pune Warriors India / Royal ...,Royal Challengers Bangalore,Capped,200,Delhi Daredevils,1600
9,Angelo Mathews,,35,Pune Warriors India / Kolkata Knight Riders,,Capped,150,Delhi Daredevils,750
10,Zaheer Khan,,70,Mumbai Indians / Royal Challengers Bangalore,Mumbai Indians,Capped,100,Delhi Daredevils,400
11,Amit Mishra,,86,Deccan Chargers / Delhi Daredevils / Sunrisers...,Sunrisers Hyderabad,Capped,10,Delhi Daredevils,350
12,Shreyas Iyer,,0,,,Uncapped,10,Delhi Daredevils,260
13,Gurinder Sandhu,,0,,,Capped,30,Delhi Daredevils,170
14,Jaydev Unadkat,,33,Kolkata Knight Riders / Royal Challengers Bang...,Delhi Daredevils,Capped,50,Delhi Daredevils,110
15,Domnic Joseph,,0,,,Uncapped,10,Delhi Daredevils,75
16,Albie Morkel,,85,Chennai Super Kings / Royal Challengers Bangalore,Royal Challengers Bangalore,Capped,30,Delhi Daredevils,30
17,Marcus Stoinis,,0,,,Uncapped,20,Delhi Daredevils,25
18,CM Gautam,,12,Delhi Daredevils / Royal Challengers Bangalore...,Mumbai Indians,Uncapped,20,Delhi Daredevils,20
19,Srikar Bharat,,0,,,Uncapped,10,Delhi Daredevils,10
20,KK Jiyas,,0,,,Uncapped,10,Delhi Daredevils,10
21,Murali Vijay,,75,Chennai Super Kings / Delhi Daredevils,Delhi Daredevils,Capped,50,Kings XI Punjab,300
22,Nikhil Naik,,0,,,Uncapped,10,Kings XI Punjab,30
23,Yogesh Golwalkar,,0,,,Uncapped,10,Kings XI Punjab,10
24,KC Cariappa,,0,,,Uncapped,10,Kolkata Knight Riders,240
25,James Neesham,,4,Delhi Daredevils,Delhi Daredevils,Capped,30,Kolkata Knight Riders,50
26,Brad Hogg,,10,Rajasthan Royals,,Capped,50,Kolkata Knight Riders,50
27,Aditya Garhwal,,0,,,Uncapped,10,Kolkata Knight Riders,25
28,Sheldon Jackson,,0,Royal Challengers Bangalore,,Uncapped,10,Kolkata Knight Riders,15
29,Sumit Narwal,,7,Rajasthan Royals,,Uncapped,10,Kolkata Knight Riders,10
...,...,...,...,...,...,...,...,...,...
36,Hardik Pandya,,0,,,Uncapped,10,Mumbai Indians,10
37,Akshay Wakhare,,0,,,Uncapped,10,Mumbai Indians,10
38,Nitish Rana,,0,,,Uncapped,10,Mumbai Indians,10
39,Siddhesh Lad,,0,,,Uncapped,10,Mumbai Indians,10
40,Jagadeesha Suchith,,0,,,Uncapped,10,Mumbai Indians,10
41,Chris Morris,,16,Chennai Super Kings,,Capped,50,Rajasthan Royals,140
42,Rusty Theron,,9,Deccan Chargers / Kings XI Punjab,,Capped,30,Rajasthan Royals,30
43,Brainder Sran,,0,,,Uncapped,10,Rajasthan Royals,10
44,Dinesh Salunkhe,,6,Rajasthan Royals,,Uncapped,10,Rajasthan Royals,10
45,Sagar Trivedi,,0,,,Uncapped,10,Rajasthan Royals,10
46,Pardeep Sahu,,0,,,Uncapped,10,Rajasthan Royals,10
47,Dinesh Karthik,,106,Delhi Daredevils / Mumbai Indians,Delhi Daredevils,Capped,200,Royal Challengers Bangalore,1050
48,Darren Sammy,,20,Sunrisers Hyderabad,Sunrisers Hyderabad,Capped,100,Royal Challengers Bangalore,280
49,David Wiese,,0,,,Capped,30,Royal Challengers Bangalore,280
50,Sean Abbott,,0,,,Capped,50,Royal Challengers Bangalore,100
51,Adam Milne,,0,,,Capped,30,Royal Challengers Bangalore,70
52,Sarfaraz Khan,,0,,,Uncapped,10,Royal Challengers Bangalore,50
53,Subramaniam Badrinath,,95,Chennai Super Kings,,Capped,30,Royal Challengers Bangalore,30
54,Jalaj Saxena,,0,Mumbai Indians,Mumbai Indians,Uncapped,10,Royal Challengers Bangalore,10
55,Shishir Bhavane,,0,,,Uncapped,10,Royal Challengers Bangalore,10
56,Trent Boult,,0,,,Capped,50,Sunrisers Hyderabad,380
57,Praveen Kumar,,85,Kings XI Punjab / Royal Challengers Bangalore ...,Mumbai Indians,Capped,50,Sunrisers Hyderabad,220
58,Kevin Pietersen,,32,Deccan Chargers / Delhi Daredevils / Royal Cha...,Delhi Daredevils,Capped,200,Sunrisers Hyderabad,200
59,Eoin Morgan,,32,Royal Challengers Bangalore / Kolkata Knight R...,,Capped,150,Sunrisers Hyderabad,150
60,Ravi Bopara,,15,Kings XI Punjab,,Capped,100,Sunrisers Hyderabad,100
61,Kane Williamson,,0,,,Capped,50,Sunrisers Hyderabad,60
62,Laxmi Ratan Shukla,,46,Kolkata Knight Riders / Delhi Daredevils,Delhi Daredevils,Capped,30,Sunrisers Hyderabad,30
63,Padmanabhan Prasanth,,0,Kochi Tuskers Kerala,,Uncapped,10,Sunrisers Hyderabad,10
64,Hanuma Vihari,,17,,,Uncapped,10,Sunrisers Hyderabad,10
65,Siddarth Kaul,,11,Delhi Daredevils / Kolkata Knight Riders,Delhi Daredevils,Uncapped,10,Sunrisers Hyderabad,10

In [49]:
url_auction_2016='https://en.wikipedia.org/wiki/List_of_2016_Indian_Premier_League_personnel_changes'
auction_2016 = urllib.request.urlopen(url_auction_2016)
auc_html_2016 = BeautifulSoup(auction_2016,'lxml')
auc_rows = auc_html_2016.find_all('table',attrs={'class':'wikitable sortable'})
auc_rows = auc_rows[1].find_all('tr')

In [50]:
list_auc_2016 = make_list(auc_rows)

In [51]:
df_auc_2016 = pd.DataFrame(list_auc_2016[2:], columns = list_auc_2016[0])

In [52]:
df_auc_2016

,Nat,Player,Team,Base price (in ₹ lakhs),Winning bid (in ₹ lakhs)
0,Eng !,"Pietersen, KevinKevin Pietersen",Rising Pune Supergiant,200,300
1,WI !,"Smith, DwayneDwayne Smith",Gujarat Lions,50,230
2,Ind !,"Sharma, IshantIshant Sharma",Rising Pune Supergiant,200,380
3,Australia !,"Watson, ShaneShane Watson",Royal Challengers Bangalore,200,950
4,Ind !,"Nehra, AshishAshish Nehra",Sunrisers Hyderabad,200,550
5,Ind !,"Singh, YuvrajYuvraj Singh",Sunrisers Hyderabad,200,700
6,South Africa !,"Steyn, DaleDale Steyn",Gujarat Lions,150,230
7,Ind !,"Samson, SanjuSanju Samson",Delhi Daredevils,200,420
8,Eng !,"Buttler, JosJos Buttler",Mumbai Indians,150,380
9,Ind !,"Karthik, DineshDinesh Karthik",Gujarat Lions,200,230
10,Ind !,"Pathan, IrfanIrfan Pathan",Rising Pune Supergiant,100,100
11,South Africa !,"Morris, ChrisChris Morris",Delhi Daredevils,50,700
12,NZ !,"Munro, ColinColin Munro",Kolkata Knight Riders,30,30
13,Ind !,"Binny, StuartStuart Binny",Royal Challengers Bangalore,200,200
14,Australia !,"Marsh, MitchellMitchell Marsh",Rising Pune Supergiant,200,480
15,Ind !,"Kulkarni, DhawalDhawal Kulkarni",Gujarat Lions,200,230
16,Australia !,"Hastings, JohnJohn Hastings",Kolkata Knight Riders,100,130
17,Ind !,"Kumar, PraveenPraveen Kumar",Gujarat Lions,50,350
18,NZ !,"Southee, TimTim Southee",Mumbai Indians,100,250
19,Ind !,"Sharma, MohitMohit Sharma",Kings XI Punjab,150,650
20,WI !,"Brathwaite, CarlosCarlos Brathwaite",Delhi Daredevils,30,420
21,Australia !,"Stoinis, MarcusMarcus Stoinis",Kings XI Punjab,30,55
22,BAN !,"Rahman, MustafizurMustafizur Rahman",Sunrisers Hyderabad,50,140
23,Ind !,"Unadkat, JaydevJaydev Unadkat",Kolkata Knight Riders,30,160
24,South Africa !,"Abbott, KyleKyle Abbott",Kings XI Punjab,30,210
25,Ind !,"Sran, BarinderBarinder Sran",Sunrisers Hyderabad,50,120
26,Ind !,"Mithun, AbhimanyuAbhimanyu Mithun",Sunrisers Hyderabad,30,30
27,Ind !,"Singh, R. P.R. P. Singh",Rising Pune Supergiant,30,30
28,Australia !,"Head, TravisTravis Head",Royal Challengers Bangalore,30,50
29,Ind !,"Baby, SachinSachin Baby",Royal Challengers Bangalore,10,10
...,...,...,...,...,...
64,Ind !,"Shankar, VijayVijay Shankar",Sunrisers Hyderabad,10,35
65,Ind !,"Jakati, ShadabShadab Jakati",Gujarat Lions,20,20
66,Ind !,"Karnewar, AkshayAkshay Karnewar",Royal Challengers Bangalore,10,10
67,Ind !,"Nath, AkshdeepAkshdeep Nath",Gujarat Lions,10,10
68,Ind !,"Sharma, MananManan Sharma",Kolkata Knight Riders,10,10
69,Ind !,"Aparajith, BabaBaba Aparajith",Rising Pune Supergiant,10,10
70,Ind !,"Chahar, DeepakDeepak Chahar",Rising Pune Supergiant,10,10
71,Ind !,"Kamath, KishoreKishore Kamath",Mumbai Indians,10,140
72,Ind !,"Sahu, PardeepPardeep Sahu",Kings XI Punjab,10,10
73,Ind !,"Pandya, KrunalKrunal Pandya",Mumbai Indians,10,200
74,Ind !,"Punia, DeepakDeepak Punia",Mumbai Indians,10,10
75,Ind !,"Singh, SwapnilSwapnil Singh",Kings XI Punjab,10,10
76,Ind !,"Ahmed, KhaleelKhaleel Ahmed",Delhi Daredevils,10,10
77,Ind !,"Shah, JaydevJaydev Shah",Gujarat Lions,20,20
78,Ind !,"Singh, PratyushPratyush Singh",Delhi Daredevils,10,10
79,Ind !,"Dinda, AshokAshok Dinda",Rising Pune Supergiant,50,50
80,Australia !,"Richardson, KaneKane Richardson",Royal Challengers Bangalore,200,200
81,WI !,"Badree, SamuelSamuel Badree",Royal Challengers Bangalore,50,50
82,Australia !,"Paris, JoelJoel Paris",Delhi Daredevils,30,30
83,Australia !,"Boland, ScottScott Boland",Rising Pune Supergiant,50,50
84,Ind !,"Malik, VikramjeetVikramjeet Malik",Royal Challengers Bangalore,20,20
85,Ind !,"Suyal, PawanPawan Suyal",Delhi Daredevils,10,10
86,Australia !,"Zampa, AdamAdam Zampa",Rising Pune Supergiant,30,30
87,Ind !,"Mishra, AmitAmit Mishra",Gujarat Lions,10,10
88,Ind !,"Singh, JaskaranJaskaran Singh",Rising Pune Supergiant,10,10
89,Ind !,"Milind, ChamaChama Milind",Delhi Daredevils,10,10
90,Ind !,"Tokas, VikasVikas Tokas",Royal Challengers Bangalore,10,10
91,South Africa !,"Behardien, FarhaanFarhaan Behardien",Kings XI Punjab,30,30
92,Ind !,"Herwadkar, AkhilAkhil Herwadkar",Delhi Daredevils,10,10
93,Ind !,"Lomror, MahipalMahipal Lomror",Delhi Daredevils,10,10

In [54]:
url_auction_2017 ='https://en.wikipedia.org/wiki/List_of_2017_Indian_Premier_League_personnel_changes'
auction_2017 = urllib.request.urlopen(url_auction_2017)
auc_html_2017 = BeautifulSoup(auction_2017,'lxml')
auc_rows = auc_html_2017.find_all('table',attrs={'class':'wikitable sortable'})
auc_rows = auc_rows[0].find_all('tr')

In [55]:
list_auc_2017 = make_list(auc_rows)

In [56]:
df_auc_2017 = pd.DataFrame(list_auc_2017[2:], columns = list_auc_2017[0])

In [57]:
df_auc_2017

,Nat,Player,Team,Base price (in ₹ lakhs),Winning bid (in ₹ lakhs)
0,ENG !,Eoin Morgan,Kings XI Punjab,200,200
1,India !,Pawan Negi,Royal Challengers Bangalore,30,100
2,Sri Lanka !,Angelo Mathews,Delhi Daredevils,200,200
3,ENG !,Ben Stokes,Rising Pune Supergiants,200,1450
4,New Zealand !,Corey Anderson,Delhi Daredevils,100,100
5,TRI !,Nicholas Pooran,Mumbai Indians,30,30
6,South Africa !,Kagiso Rabada,Delhi Daredevils,100,500
7,New Zealand !,Trent Boult,Kolkata Knight Riders,150,500
8,ENG !,Tymal Mills,Royal Challengers Bangalore,50,1200
9,Australia !,Pat Cummins,Delhi Daredevils,200,450
10,Australia !,Mitchell Johnson,Mumbai Indians,200,200
11,India !,Ankit Bawne,Delhi Daredevils,10,10
12,India !,Tanmay Agarwal,Sunrisers Hyderabad,10,10
13,Afghanistan !,Mohammad Nabi,Sunrisers Hyderabad,30,30
14,India !,K Gowtham,Mumbai Indians,10,200
15,India !,Rahul Tewatia,Kings XI Punjab,10,25
16,India !,Aditya Tare,Delhi Daredevils,20,25
17,India !,Eklavya Dwivedi,Sunrisers Hyderabad,30,75
18,India !,Aniket Choudhary,Royal Challengers Bangalore,10,200
19,India !,T Natarajan,Kings XI Punjab,10,300
20,India !,Nathu Singh,Gujarat Lions,30,50
21,India !,Basil Thampi,Gujarat Lions,10,85
22,India !,M Ashwin,Delhi Daredevils,10,100
23,India !,Tejas Baroka,Gujarat Lions,10,10
24,Afghanistan !,Rashid Khan,Sunrisers Hyderabad,50,400
25,India !,Pravin Tambe,Sunrisers Hyderabad,10,10
26,ENG !,Chris Woakes,Kolkata Knight Riders,200,420
27,India !,Karn Sharma,Mumbai Indians,30,320
28,India !,Rishi Dhawan,Kolkata Knight Riders,30,55
29,New Zealand !,Matt Henry,Kings XI Punjab,50,50
...,...,...,...,...,...
36,ENG !,Chris Jordan,Sunrisers Hyderabad,50,50
37,Australia !,Nathan Coulter-Nile,Kolkata Knight Riders,100,350
38,India !,Praveen Dubey,Royal Challengers Bangalore,10,10
39,India !,Navdeep Saini,Delhi Daredevils,10,10
40,Australia !,Ben Laughlin,Sunrisers Hyderabad,30,30
41,Australia !,Billy Stanlake,Royal Challengers Bangalore,30,30
42,India !,Mohammed Siraj,Sunrisers Hyderabad,20,260
43,India !,Rahul Chahar,Rising Pune Supergiants,10,10
44,India !,Saurabh Kumar,Rising Pune Supergiants,10,10
45,Sri Lanka !,Asela Gunaratne,Mumbai Indians,30,30
46,Australia !,Daniel Christian,Rising Pune Supergiants,100,100
47,Jamaica !,Rovman Powell,Kolkata Knight Riders,30,30
48,St. Lucia !,Darren Sammy,Kings XI Punjab,30,30
49,India !,Munaf Patel,Gujarat Lions,30,30
50,India !,Rinku Singh,Kings XI Punjab,10,10
51,India !,Shashank Singh,Delhi Daredevils,10,10
52,India !,Milind Tandon,Rising Pune Supergiants,10,10
53,India !,Kulwant Khejroliya,Mumbai Indians,10,10
54,UAE !,Chirag Suri,Gujarat Lions,10,10
55,India !,R Sanjay Yadav,Kolkata Knight Riders,10,10
56,India !,Shelley Shaurya,Gujarat Lions,10,10
57,India !,Shubham Agarwal,Gujarat Lions,10,10
58,India !,Ishank Jaggi,Kolkata Knight Riders,10,10
59,India !,Rahul Tripathi,Rising Pune Supergiants,10,10
60,India !,Pratham Singh,Gujarat Lions,10,10
61,India !,Akshdeep Nath,Gujarat Lions,10,10
62,New Zealand !,Lockie Ferguson,Rising Pune Supergiants,50,50
63,India !,Manoj Tiwary,Rising Pune Supergiants,50,50
64,TRI !,Darren Bravo,Kolkata Knight Riders,50,50
65,India !,Sayan Ghosh,Kolkata Knight Riders,10,10